<div class="inmodal">
    <div class="color-line"></div>
    <div class="modal-header">
        <h4 class="modal-title">{{localization.getMessage('procurement.shippingDocumentItem.edit')}}</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-6">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('procurement.shippingDocumentItem.sDIOrdinalNumber')}}
<span class="required">*</span>                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.SDIOrdinalNumber" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('procurement.shippingDocumentItem.sDIQuantityDisposed')}}
<span class="required">*</span>                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.SDIQuantityDisposed" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('procurement.shippingDocumentItem.sDIQuantityPacked')}}
<span class="required">*</span>                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.SDIQuantityPacked" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('procurement.shippingDocumentItem.sDIQuantityForRepacking')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.SDIQuantityForRepacking" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('procurement.shippingDocumentItem.sDIQuantityDispatched')}}
<span class="required">*</span>                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.SDIQuantityDispatched" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('procurement.shippingDocumentItem.sDIBookValueAmmount')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.SDIBookValueAmmount" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('procurement.shippingDocumentItem.sDISellingPrice')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.SDISellingPrice" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('procurement.shippingDocumentItem.sDIRebate')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.SDIRebate" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('procurement.shippingDocumentItem.sDIPostingPosition')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.SDIPostingPosition" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('procurement.shippingDocumentItem.sDIStorno')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.SDIStorno" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('procurement.shippingDocumentItem.sDIPostingDate')}}
                        </label>
                        <div class="col-sm-7">
                            <div class="input-group date m-b-xs" id="dtpSDIPostingDate">
                                <span ng-click="open($event, 'openedSDIPostingDate')" class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                                <input type="text" ng-model="itemEdit.SDIPostingDate" class="form-control input-sm" ui-date="{dateFormat: 'dd/MM/yyyy'}" ui-date-format="dd/MM/yyyy"
                                    datepicker-popup="{{itemEdit.SDIPostingDate.dateFormat}}" is-open="openedSDIPostingDate" show-button-bar="false" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('procurement.shippingDocumentItem.sDILocationAddress')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.SDILocationAddress" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('procurement.shippingDocumentItem.sDIQuantityAfterPosting')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.SDIQuantityAfterPosting" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('procurement.shippingDocumentItem.sDIAccount')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.SDIAccount" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('procurement.shippingDocumentItem.sDIQuantityForShipping')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.SDIQuantityForShipping" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('procurement.shippingDocumentItem.sDIConsignmentPostingPosition')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.SDIConsignmentPostingPosition" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('procurement.shippingDocumentItem.sDIConsignmentValue')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.SDIConsignmentValue" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('procurement.shippingDocumentItem.sDIConsignemntAddress')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.SDIConsignemntAddress" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('procurement.shippingDocumentItem.sDIStockroom')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.SDIStockroom" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('procurement.shippingDocumentItem.sDIIdentification')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.SDIIdentification" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('procurement.shippingDocumentItem.sDITangibleItemStatus')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.SDITangibleItemStatus" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                </form>
                <p><span class="required">*</span> {{localization.getMessage('common.requiredField')}}</p>
            </div>
        </div>
        <div class ="row">
    		<div class="col-lg-12 corps" >
                <ng-include src ="'procurement/shippingdocumentitem/tmplShippingDocumentItemDetail.tpl.html'">
                </ng-include>
            </div>
		</div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-doob" ng-click="save()" ng-disabled="!canSave()">{{localization.getMessage('common.save')}}</button>
        <button class="btn btn-doob" ng-click="revert()" ng-disabled="!canRevert()">{{localization.getMessage('common.clear')}}</button>
        <button class="btn btn-doob" ng-click="cancel()">{{localization.getMessage('common.cancel')}}</button>
    </div>
</div>