<div class="inmodal">
    <div class="color-line"></div>
    <div class="modal-header">
        <h4 class="modal-title">{{localization.getMessage('procurement.proFormaInvoice.edit')}}</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-6">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('procurement.proFormaInvoice.pFINumber1')}}
<span class="required">*</span>                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.PFINumber1" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('procurement.proFormaInvoice.pFIDate')}}
<span class="required">*</span>                        </label>
                        <div class="col-sm-7">
                            <div class="input-group date m-b-xs" id="dtpPFIDate">
                                <span ng-click="open($event, 'openedPFIDate')" class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                                <input type="text" ng-model="itemEdit.PFIDate" class="form-control input-sm" ui-date="{dateFormat: 'dd/MM/yyyy'}" ui-date-format="dd/MM/yyyy"
                                    datepicker-popup="{{itemEdit.PFIDate.dateFormat}}" is-open="openedPFIDate" show-button-bar="false" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('procurement.proFormaInvoice.pFIStatus')}}
<span class="required">*</span>                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.PFIStatus" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('procurement.proFormaInvoice.pFIPrint')}}
<span class="required">*</span>                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.PFIPrint" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('procurement.proFormaInvoice.pFIPaymentDate')}}
<span class="required">*</span>                        </label>
                        <div class="col-sm-7">
                            <div class="input-group date m-b-xs" id="dtpPFIPaymentDate">
                                <span ng-click="open($event, 'openedPFIPaymentDate')" class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                                <input type="text" ng-model="itemEdit.PFIPaymentDate" class="form-control input-sm" ui-date="{dateFormat: 'dd/MM/yyyy'}" ui-date-format="dd/MM/yyyy"
                                    datepicker-popup="{{itemEdit.PFIPaymentDate.dateFormat}}" is-open="openedPFIPaymentDate" show-button-bar="false" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('procurement.proFormaInvoice.pFISubTotal')}}
<span class="required">*</span>                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.PFISubTotal" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('procurement.proFormaInvoice.pFIRebateAmount')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.PFIRebateAmount" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('procurement.proFormaInvoice.pFITotal')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.PFITotal" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('procurement.proFormaInvoice.pFIPostalCosts')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.PFIPostalCosts" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('procurement.proFormaInvoice.pFIPackaging')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.PFIPackaging" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('procurement.proFormaInvoice.pFIAmountWithoutTax')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.PFIAmountWithoutTax" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('procurement.proFormaInvoice.pFITaxAmount')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.PFITaxAmount" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('procurement.proFormaInvoice.pFIForPayment')}}
<span class="required">*</span>                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.PFIForPayment" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('procurement.proFormaInvoice.pFIRemark')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.PFIRemark" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('procurement.proFormaInvoice.pFIDeclarationNumber')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.PFIDeclarationNumber" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('procurement.proFormaInvoice.pFIConfirmationNumber')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.PFIConfirmationNumber" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('procurement.proFormaInvoice.pFIDeclarationDate')}}
                        </label>
                        <div class="col-sm-7">
                            <div class="input-group date m-b-xs" id="dtpPFIDeclarationDate">
                                <span ng-click="open($event, 'openedPFIDeclarationDate')" class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                                <input type="text" ng-model="itemEdit.PFIDeclarationDate" class="form-control input-sm" ui-date="{dateFormat: 'dd/MM/yyyy'}" ui-date-format="dd/MM/yyyy"
                                    datepicker-popup="{{itemEdit.PFIDeclarationDate.dateFormat}}" is-open="openedPFIDeclarationDate" show-button-bar="false" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('procurement.proFormaInvoice.pFIConfirmationDate')}}
                        </label>
                        <div class="col-sm-7">
                            <div class="input-group date m-b-xs" id="dtpPFIConfirmationDate">
                                <span ng-click="open($event, 'openedPFIConfirmationDate')" class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                                <input type="text" ng-model="itemEdit.PFIConfirmationDate" class="form-control input-sm" ui-date="{dateFormat: 'dd/MM/yyyy'}" ui-date-format="dd/MM/yyyy"
                                    datepicker-popup="{{itemEdit.PFIConfirmationDate.dateFormat}}" is-open="openedPFIConfirmationDate" show-button-bar="false" />
                            </div>
                        </div>
                    </div>
                </form>
                <p><span class="required">*</span> {{localization.getMessage('common.requiredField')}}</p>
            </div>
        </div>
        <div class ="row">
    		<div class="col-lg-12 corps" >
                <ng-include src ="'procurement/proformainvoice/tmplProFormaInvoiceDetail.tpl.html'">
                </ng-include>
            </div>
		</div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-doob" ng-click="save()" ng-disabled="!canSave()">{{localization.getMessage('common.save')}}</button>
        <button class="btn btn-doob" ng-click="revert()" ng-disabled="!canRevert()">{{localization.getMessage('common.clear')}}</button>
        <button class="btn btn-doob" ng-click="cancel()">{{localization.getMessage('common.cancel')}}</button>
    </div>
</div>