<div class="col-lg-4 animated-panel zoomIn" ng-if="mode != 'edit'">
    <form class="form-horizontal">
        <fieldset ng-disabled="true">
            <div class="col-lg-12" ng-disabled="true">
                <div ng-repeat="property in itemDefinition.properties" class="form-group">
                    <label class="col-sm-5 control-label">{{localization.getMessage(itemDefinition.label + '.' + property.label)}}</label>
                    <div class="col-sm-7 padding-7">
                        <input type="text" class="form-control input-xs m-b-xs" value="{{itemEdit[property.name]}}" />
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<div class="corps animated-panel zoomIn" ng-class="{'col-lg-8':(mode != 'edit')}">
    <tabset>
        <tab heading="{{localization.getMessage('stockmanagement.priceDesignation.prices')}}">
            <div class="row" ng-if="itemEdit['prices'] && itemEdit['prices'].length > 0">
                <table st-table="pricesCollection" st-safe-src="itemEdit['prices']" class="items fixed-header fixed-header-detail">
                    <thead>
                    <tr>
                        <th ng-repeat="property in pricesDefinition.properties"
                            lr-drag-src="headers" lr-drop-target="headers" st-sort="{{property.name}}" st-skip-natural="true">
                            {{localization.getMessage(pricesDefinition.label + '.' + property.label)}}
                        </th>
                    </tr>
                    <tr>
                        <th ng-repeat="property in pricesDefinition.properties">
                            <input st-search="{{property.name}}" class="input-sm form-control" type="search"/>
                        </th>
                    </tr>
                    </thead>
                    <tbody ng-if="mode != 'edit'">
                    <tr ng-repeat="currentRow in pricesCollection">
                        <td ng-repeat="property in pricesDefinition.properties">
                            <span ng-if="!property.dateFormat">{{currentRow[property.name]}}</span>
                            <span ng-if="property.dateFormat">{{currentRow[property.name]|date:property.dateFormat}}</span>
                        </td>
                    </tr>
                    </tbody>
                    <tbody ng-if="mode == 'edit'">
                    <tr ng-repeat="currentRow in pricesCollection" st-select-row="currentRow" ng-click="priceSelection(currentRow, $index)"
                        ng-if="currentRow.deleted != true">
                        <td ng-repeat="property in pricesDefinition.properties">
                            <span ng-if="!property.dateFormat">{{currentRow[property.name]}}</span>
                            <span ng-if="property.dateFormat">{{currentRow[property.name]|date:property.dateFormat}}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row" ng-if="!(itemEdit['prices'] && itemEdit['prices'].length > 0)">
                {{localization.getMessage('common.noEntities')}}
            </div>
            <div class="modal-body" >
                <div class="row" ng-if="mode == 'edit'">
                    <div class="btn-toolbar animated-panel zoomIn">
                        <div class="btn-group clearfix">
                            <button type="button" ng-click="openPriceEditDialog(true)" class="btn btn-sm btn-doob">
                                <i class="glyphicon glyphicon-pencil"></i> {{localization.getMessage('button.new')}}
                            </button>
                        </div>
                        <div class="btn-group clearfix">
                            <button type="button" ng-disabled="priceEdit == null" ng-click="removePrice(priceEdit)" class="btn btn-sm btn-doob btn-group">
                                <i class="glyphicon glyphicon-remove-circle"></i> {{localization.getMessage('button.remove')}}
                            </button>
                        </div>
                        <div class="btn-group clearfix">
                            <button type="button" ng-disabled="priceEdit == null" ng-click="openPriceEditDialog(false)" class="btn btn-sm btn-doob">
                                <i class="glyphicon glyphicon-pencil"></i> {{localization.getMessage('button.update')}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </tab>
        <tab heading="{{localization.getMessage('stockmanagement.priceDesignation.stockAccountAssignments')}}">
            <div class="row" ng-if="itemEdit['stockAccountAssignments'] && itemEdit['stockAccountAssignments'].length > 0">
                <table st-table="stockAccountAssignmentsCollection" st-safe-src="itemEdit['stockAccountAssignments']" class="items fixed-header fixed-header-detail">
                    <thead>
                    <tr>
                        <th ng-repeat="property in stockAccountAssignmentsDefinition.properties"
                            lr-drag-src="headers" lr-drop-target="headers" st-sort="{{property.name}}" st-skip-natural="true">
                            {{localization.getMessage(stockAccountAssignmentsDefinition.label + '.' + property.label)}}
                        </th>
                    </tr>
                    <tr>
                        <th ng-repeat="property in stockAccountAssignmentsDefinition.properties">
                            <input st-search="{{property.name}}" class="input-sm form-control" type="search"/>
                        </th>
                    </tr>
                    </thead>
                    <tbody ng-if="mode != 'edit'">
                    <tr ng-repeat="currentRow in stockAccountAssignmentsCollection">
                        <td ng-repeat="property in stockAccountAssignmentsDefinition.properties">
                            <span ng-if="!property.dateFormat">{{currentRow[property.name]}}</span>
                            <span ng-if="property.dateFormat">{{currentRow[property.name]|date:property.dateFormat}}</span>
                        </td>
                    </tr>
                    </tbody>
                    <tbody ng-if="mode == 'edit'">
                    <tr ng-repeat="currentRow in stockAccountAssignmentsCollection" st-select-row="currentRow" ng-click="stockAccountAssignmentSelection(currentRow, $index)"
                        ng-if="currentRow.deleted != true">
                        <td ng-repeat="property in stockAccountAssignmentsDefinition.properties">
                            <span ng-if="!property.dateFormat">{{currentRow[property.name]}}</span>
                            <span ng-if="property.dateFormat">{{currentRow[property.name]|date:property.dateFormat}}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row" ng-if="!(itemEdit['stockAccountAssignments'] && itemEdit['stockAccountAssignments'].length > 0)">
                {{localization.getMessage('common.noEntities')}}
            </div>
            <div class="modal-body" >
                <div class="row" ng-if="mode == 'edit'">
                    <div class="btn-toolbar animated-panel zoomIn">
                        <div class="btn-group clearfix">
                            <button type="button" ng-click="openStockAccountAssignmentEditDialog(true)" class="btn btn-sm btn-doob">
                                <i class="glyphicon glyphicon-pencil"></i> {{localization.getMessage('button.new')}}
                            </button>
                        </div>
                        <div class="btn-group clearfix">
                            <button type="button" ng-disabled="stockAccountAssignmentEdit == null" ng-click="removeStockAccountAssignment(stockAccountAssignmentEdit)" class="btn btn-sm btn-doob btn-group">
                                <i class="glyphicon glyphicon-remove-circle"></i> {{localization.getMessage('button.remove')}}
                            </button>
                        </div>
                        <div class="btn-group clearfix">
                            <button type="button" ng-disabled="stockAccountAssignmentEdit == null" ng-click="openStockAccountAssignmentEditDialog(false)" class="btn btn-sm btn-doob">
                                <i class="glyphicon glyphicon-pencil"></i> {{localization.getMessage('button.update')}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </tab>
        <tab heading="{{localization.getMessage('stockmanagement.priceDesignation.tangibleItemAmmountTools')}}">
            <div class="row" ng-if="itemEdit['tangibleItemAmmountTools'] && itemEdit['tangibleItemAmmountTools'].length > 0">
                <table st-table="tangibleItemAmmountToolsCollection" st-safe-src="itemEdit['tangibleItemAmmountTools']" class="items fixed-header fixed-header-detail">
                    <thead>
                    <tr>
                        <th ng-repeat="property in tangibleItemAmmountToolsDefinition.properties"
                            lr-drag-src="headers" lr-drop-target="headers" st-sort="{{property.name}}" st-skip-natural="true">
                            {{localization.getMessage(tangibleItemAmmountToolsDefinition.label + '.' + property.label)}}
                        </th>
                    </tr>
                    <tr>
                        <th ng-repeat="property in tangibleItemAmmountToolsDefinition.properties">
                            <input st-search="{{property.name}}" class="input-sm form-control" type="search"/>
                        </th>
                    </tr>
                    </thead>
                    <tbody ng-if="mode != 'edit'">
                    <tr ng-repeat="currentRow in tangibleItemAmmountToolsCollection">
                        <td ng-repeat="property in tangibleItemAmmountToolsDefinition.properties">
                            <span ng-if="!property.dateFormat">{{currentRow[property.name]}}</span>
                            <span ng-if="property.dateFormat">{{currentRow[property.name]|date:property.dateFormat}}</span>
                        </td>
                    </tr>
                    </tbody>
                    <tbody ng-if="mode == 'edit'">
                    <tr ng-repeat="currentRow in tangibleItemAmmountToolsCollection" st-select-row="currentRow" ng-click="tangibleItemAmmountToolSelection(currentRow, $index)"
                        ng-if="currentRow.deleted != true">
                        <td ng-repeat="property in tangibleItemAmmountToolsDefinition.properties">
                            <span ng-if="!property.dateFormat">{{currentRow[property.name]}}</span>
                            <span ng-if="property.dateFormat">{{currentRow[property.name]|date:property.dateFormat}}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row" ng-if="!(itemEdit['tangibleItemAmmountTools'] && itemEdit['tangibleItemAmmountTools'].length > 0)">
                {{localization.getMessage('common.noEntities')}}
            </div>
            <div class="modal-body" >
                <div class="row" ng-if="mode == 'edit'">
                    <div class="btn-toolbar animated-panel zoomIn">
                        <div class="btn-group clearfix">
                            <button type="button" ng-click="openTangibleItemAmmountToolEditDialog(true)" class="btn btn-sm btn-doob">
                                <i class="glyphicon glyphicon-pencil"></i> {{localization.getMessage('button.new')}}
                            </button>
                        </div>
                        <div class="btn-group clearfix">
                            <button type="button" ng-disabled="tangibleItemAmmountToolEdit == null" ng-click="removeTangibleItemAmmountTool(tangibleItemAmmountToolEdit)" class="btn btn-sm btn-doob btn-group">
                                <i class="glyphicon glyphicon-remove-circle"></i> {{localization.getMessage('button.remove')}}
                            </button>
                        </div>
                        <div class="btn-group clearfix">
                            <button type="button" ng-disabled="tangibleItemAmmountToolEdit == null" ng-click="openTangibleItemAmmountToolEditDialog(false)" class="btn btn-sm btn-doob">
                                <i class="glyphicon glyphicon-pencil"></i> {{localization.getMessage('button.update')}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </tab>
        <tab heading="{{localization.getMessage('stockmanagement.priceDesignation.tangibleItemConditions')}}">
            <div class="row" ng-if="itemEdit['tangibleItemConditions'] && itemEdit['tangibleItemConditions'].length > 0">
                <table st-table="tangibleItemConditionsCollection" st-safe-src="itemEdit['tangibleItemConditions']" class="items fixed-header fixed-header-detail">
                    <thead>
                    <tr>
                        <th ng-repeat="property in tangibleItemConditionsDefinition.properties"
                            lr-drag-src="headers" lr-drop-target="headers" st-sort="{{property.name}}" st-skip-natural="true">
                            {{localization.getMessage(tangibleItemConditionsDefinition.label + '.' + property.label)}}
                        </th>
                    </tr>
                    <tr>
                        <th ng-repeat="property in tangibleItemConditionsDefinition.properties">
                            <input st-search="{{property.name}}" class="input-sm form-control" type="search"/>
                        </th>
                    </tr>
                    </thead>
                    <tbody ng-if="mode != 'edit'">
                    <tr ng-repeat="currentRow in tangibleItemConditionsCollection">
                        <td ng-repeat="property in tangibleItemConditionsDefinition.properties">
                            <span ng-if="!property.dateFormat">{{currentRow[property.name]}}</span>
                            <span ng-if="property.dateFormat">{{currentRow[property.name]|date:property.dateFormat}}</span>
                        </td>
                    </tr>
                    </tbody>
                    <tbody ng-if="mode == 'edit'">
                    <tr ng-repeat="currentRow in tangibleItemConditionsCollection" st-select-row="currentRow" ng-click="tangibleItemConditionSelection(currentRow, $index)"
                        ng-if="currentRow.deleted != true">
                        <td ng-repeat="property in tangibleItemConditionsDefinition.properties">
                            <span ng-if="!property.dateFormat">{{currentRow[property.name]}}</span>
                            <span ng-if="property.dateFormat">{{currentRow[property.name]|date:property.dateFormat}}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row" ng-if="!(itemEdit['tangibleItemConditions'] && itemEdit['tangibleItemConditions'].length > 0)">
                {{localization.getMessage('common.noEntities')}}
            </div>
            <div class="modal-body" >
                <div class="row" ng-if="mode == 'edit'">
                    <div class="btn-toolbar animated-panel zoomIn">
                        <div class="btn-group clearfix">
                            <button type="button" ng-click="openTangibleItemConditionEditDialog(true)" class="btn btn-sm btn-doob">
                                <i class="glyphicon glyphicon-pencil"></i> {{localization.getMessage('button.new')}}
                            </button>
                        </div>
                        <div class="btn-group clearfix">
                            <button type="button" ng-disabled="tangibleItemConditionEdit == null" ng-click="removeTangibleItemCondition(tangibleItemConditionEdit)" class="btn btn-sm btn-doob btn-group">
                                <i class="glyphicon glyphicon-remove-circle"></i> {{localization.getMessage('button.remove')}}
                            </button>
                        </div>
                        <div class="btn-group clearfix">
                            <button type="button" ng-disabled="tangibleItemConditionEdit == null" ng-click="openTangibleItemConditionEditDialog(false)" class="btn btn-sm btn-doob">
                                <i class="glyphicon glyphicon-pencil"></i> {{localization.getMessage('button.update')}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </tab>
        <tab heading="{{localization.getMessage('stockmanagement.priceDesignation.renamingItemsOutput')}}">
            <div class="row" ng-if="itemEdit['renamingItemsOutput'] && itemEdit['renamingItemsOutput'].length > 0">
                <table st-table="renamingItemsOutputCollection" st-safe-src="itemEdit['renamingItemsOutput']" class="items fixed-header fixed-header-detail">
                    <thead>
                    <tr>
                        <th ng-repeat="property in renamingItemsOutputDefinition.properties"
                            lr-drag-src="headers" lr-drop-target="headers" st-sort="{{property.name}}" st-skip-natural="true">
                            {{localization.getMessage(renamingItemsOutputDefinition.label + '.' + property.label)}}
                        </th>
                    </tr>
                    <tr>
                        <th ng-repeat="property in renamingItemsOutputDefinition.properties">
                            <input st-search="{{property.name}}" class="input-sm form-control" type="search"/>
                        </th>
                    </tr>
                    </thead>
                    <tbody ng-if="mode != 'edit'">
                    <tr ng-repeat="currentRow in renamingItemsOutputCollection">
                        <td ng-repeat="property in renamingItemsOutputDefinition.properties">
                            <span ng-if="!property.dateFormat">{{currentRow[property.name]}}</span>
                            <span ng-if="property.dateFormat">{{currentRow[property.name]|date:property.dateFormat}}</span>
                        </td>
                    </tr>
                    </tbody>
                    <tbody ng-if="mode == 'edit'">
                    <tr ng-repeat="currentRow in renamingItemsOutputCollection" st-select-row="currentRow" ng-click="renamingItemSelection(currentRow, $index)"
                        ng-if="currentRow.deleted != true">
                        <td ng-repeat="property in renamingItemsOutputDefinition.properties">
                            <span ng-if="!property.dateFormat">{{currentRow[property.name]}}</span>
                            <span ng-if="property.dateFormat">{{currentRow[property.name]|date:property.dateFormat}}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row" ng-if="!(itemEdit['renamingItemsOutput'] && itemEdit['renamingItemsOutput'].length > 0)">
                {{localization.getMessage('common.noEntities')}}
            </div>
            <div class="modal-body" >
                <div class="row" ng-if="mode == 'edit'">
                    <div class="btn-toolbar animated-panel zoomIn">
                        <div class="btn-group clearfix">
                            <button type="button" ng-click="openRenamingItemEditDialog(true)" class="btn btn-sm btn-doob">
                                <i class="glyphicon glyphicon-pencil"></i> {{localization.getMessage('button.new')}}
                            </button>
                        </div>
                        <div class="btn-group clearfix">
                            <button type="button" ng-disabled="renamingItemEdit == null" ng-click="removeRenamingItem(renamingItemEdit)" class="btn btn-sm btn-doob btn-group">
                                <i class="glyphicon glyphicon-remove-circle"></i> {{localization.getMessage('button.remove')}}
                            </button>
                        </div>
                        <div class="btn-group clearfix">
                            <button type="button" ng-disabled="renamingItemEdit == null" ng-click="openRenamingItemEditDialog(false)" class="btn btn-sm btn-doob">
                                <i class="glyphicon glyphicon-pencil"></i> {{localization.getMessage('button.update')}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </tab>
        <tab heading="{{localization.getMessage('stockmanagement.priceDesignation.renamingItemsInput')}}">
            <div class="row" ng-if="itemEdit['renamingItemsInput'] && itemEdit['renamingItemsInput'].length > 0">
                <table st-table="renamingItemsInputCollection" st-safe-src="itemEdit['renamingItemsInput']" class="items fixed-header fixed-header-detail">
                    <thead>
                    <tr>
                        <th ng-repeat="property in renamingItemsInputDefinition.properties"
                            lr-drag-src="headers" lr-drop-target="headers" st-sort="{{property.name}}" st-skip-natural="true">
                            {{localization.getMessage(renamingItemsInputDefinition.label + '.' + property.label)}}
                        </th>
                    </tr>
                    <tr>
                        <th ng-repeat="property in renamingItemsInputDefinition.properties">
                            <input st-search="{{property.name}}" class="input-sm form-control" type="search"/>
                        </th>
                    </tr>
                    </thead>
                    <tbody ng-if="mode != 'edit'">
                    <tr ng-repeat="currentRow in renamingItemsInputCollection">
                        <td ng-repeat="property in renamingItemsInputDefinition.properties">
                            <span ng-if="!property.dateFormat">{{currentRow[property.name]}}</span>
                            <span ng-if="property.dateFormat">{{currentRow[property.name]|date:property.dateFormat}}</span>
                        </td>
                    </tr>
                    </tbody>
                    <tbody ng-if="mode == 'edit'">
                    <tr ng-repeat="currentRow in renamingItemsInputCollection" st-select-row="currentRow" ng-click="renamingItemSelection(currentRow, $index)"
                        ng-if="currentRow.deleted != true">
                        <td ng-repeat="property in renamingItemsInputDefinition.properties">
                            <span ng-if="!property.dateFormat">{{currentRow[property.name]}}</span>
                            <span ng-if="property.dateFormat">{{currentRow[property.name]|date:property.dateFormat}}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row" ng-if="!(itemEdit['renamingItemsInput'] && itemEdit['renamingItemsInput'].length > 0)">
                {{localization.getMessage('common.noEntities')}}
            </div>
            <div class="modal-body" >
                <div class="row" ng-if="mode == 'edit'">
                    <div class="btn-toolbar animated-panel zoomIn">
                        <div class="btn-group clearfix">
                            <button type="button" ng-click="openRenamingItemEditDialog(true)" class="btn btn-sm btn-doob">
                                <i class="glyphicon glyphicon-pencil"></i> {{localization.getMessage('button.new')}}
                            </button>
                        </div>
                        <div class="btn-group clearfix">
                            <button type="button" ng-disabled="renamingItemEdit == null" ng-click="removeRenamingItem(renamingItemEdit)" class="btn btn-sm btn-doob btn-group">
                                <i class="glyphicon glyphicon-remove-circle"></i> {{localization.getMessage('button.remove')}}
                            </button>
                        </div>
                        <div class="btn-group clearfix">
                            <button type="button" ng-disabled="renamingItemEdit == null" ng-click="openRenamingItemEditDialog(false)" class="btn btn-sm btn-doob">
                                <i class="glyphicon glyphicon-pencil"></i> {{localization.getMessage('button.update')}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </tab>
    </tabset>
</div>