<div class="inmodal">
    <div class="color-line"></div>
    <div class="modal-header">
        <h4 class="modal-title">{{localization.getMessage('renaming.renamingItem.edit')}}</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-6">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('renaming.renamingItem.rIOrdinalNumber')}}
<span class="required">*</span>                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.RIOrdinalNumber" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('renaming.renamingItem.rIMeasurementUnitInput')}}
<span class="required">*</span>                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.RIMeasurementUnitInput" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('renaming.renamingItem.rIMeasurementUnitOutput')}}
<span class="required">*</span>                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.RIMeasurementUnitOutput" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('renaming.renamingItem.rIQuantityForTransfer')}}
<span class="required">*</span>                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.RIQuantityForTransfer" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('renaming.renamingItem.rIAddressOutput')}}
<span class="required">*</span>                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.RIAddressOutput" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('renaming.renamingItem.rIBatchOutput')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.RIBatchOutput" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('renaming.renamingItem.rIAddressInput')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.RIAddressInput" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('renaming.renamingItem.rIBatchInput')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.RIBatchInput" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('renaming.renamingItem.rIStorno')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.RIStorno" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('renaming.renamingItem.rIQuantityTransfered')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.RIQuantityTransfered" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('renaming.renamingItem.rIPriceOutput')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.RIPriceOutput" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('renaming.renamingItem.rIPriceInput')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.RIPriceInput" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('renaming.renamingItem.rIValueOutput')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.RIValueOutput" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('renaming.renamingItem.rIValueInput')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.RIValueInput" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('renaming.renamingItem.rIPostingPositionInput')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.RIPostingPositionInput" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('renaming.renamingItem.rIPostingPositionOutput')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.RIPostingPositionOutput" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('renaming.renamingItem.rIPostingDate')}}
                        </label>
                        <div class="col-sm-7">
                            <div class="input-group date m-b-xs" id="dtpRIPostingDate">
                                <span ng-click="open($event, 'openedRIPostingDate')" class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                                <input type="text" ng-model="itemEdit.RIPostingDate" class="form-control input-sm" ui-date="{dateFormat: 'dd/MM/yyyy'}" ui-date-format="dd/MM/yyyy"
                                    datepicker-popup="{{itemEdit.RIPostingDate.dateFormat}}" is-open="openedRIPostingDate" show-button-bar="false" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('renaming.renamingItem.rIAmmountAfterPostingInput')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.RIAmmountAfterPostingInput" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('renaming.renamingItem.rIAmmountAfterPostingOutput')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.RIAmmountAfterPostingOutput" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                </form>
                <p><span class="required">*</span> {{localization.getMessage('common.requiredField')}}</p>
            </div>
        </div>
        <div class ="row">
    		<div class="col-lg-12 corps" >
                <ng-include src ="'renaming/renamingitem/tmplRenamingItemDetail.tpl.html'">
                </ng-include>
            </div>
		</div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-doob" ng-click="save()" ng-disabled="!canSave()">{{localization.getMessage('common.save')}}</button>
        <button class="btn btn-doob" ng-click="revert()" ng-disabled="!canRevert()">{{localization.getMessage('common.clear')}}</button>
        <button class="btn btn-doob" ng-click="cancel()">{{localization.getMessage('common.cancel')}}</button>
    </div>
</div>