<div class="normalheader transition animated fadeIn small-header">
        <div class="hpanel">
            <div class="panel-body">
                <a class="small-header-action" href="">
                </a>
                <h2 class="font-light m-b-xs">
                    {{localization.getMessage('administration.users.changePassword')}}
                </h2>
            </div>
        </div>
    </div>
		<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-body">
<div >
    <form novalidate>
        <!--div class="modal-header">
            <h3 class="modal-title">{{localization.getMessage('administration.users.changePassword')}}</h3>
        </div-->
        <div class="modal-body">
            <div ng-repeat="fieldModel in model.fields">
                <div ng-edit-field field-model="fieldModel" item="itemEdit" error="errors[fieldModel.name]" ></div>
            </div>
            <!--table> 
                    <tr><td>{{localization.getMessage('administration.users.oldPassword')}}</td></tr>
                    <tr ><td><input type="password" ng-model="pass.oldPassword"></td> <td ng-hide="pass.oldPassword">{{localization.getMessage('common.requiredField')}}</td></tr>
                    <tr><td>{{localization.getMessage('administration.users.newPassword')}}</td></tr>
                    <tr ><td><input type="password" ng-model="pass.newPassword"></td> <td ng-hide="pass.newPassword">{{localization.getMessage('common.requiredField')}}</td><td ng-hide="!pass.confirmNewPassword || pass.confirmNewPassword == pass.newPassword">{{localization.getMessage('administration.users.invalidPassword')}}</td></tr>
                    <tr><td>{{localization.getMessage('administration.users.confirmNewPassword')}}</td></tr>
                    <tr ><td><input type="password" ng-model="pass.confirmNewPassword"></td> <td ng-hide="pass.confirmNewPassword">{{localization.getMessage('common.requiredField')}}</td><td ng-hide="!pass.confirmNewPassword || pass.confirmNewPassword == pass.newPassword">{{localization.getMessage('administration.users.invalidPassword')}}</td></tr>
            </table-->
            <div class="form-group"><label>{{localization.getMessage('administration.users.oldPassword')}}</label>
                <input type="password" class="form-control" name="password" required ng-model="pass.oldPassword">
                <div class="m-t-xs" ng-show="!pass.oldPassword">
                    <span class="text-danger" ng-show="!pass.oldPassword"><i class="fa fa-exclamation-triangle"></i> {{localization.getMessage('common.requiredField')}}</span>
                </div>
            </div>
            <div class="form-group"><label>{{localization.getMessage('administration.users.newPassword')}}</label>
                <input type="password" class="form-control" name="password" required ng-model="pass.newPassword">
                <div class="m-t-xs" ng-show="!pass.newPassword">
                    <span class="text-danger" ng-show="!pass.newPassword"><i class="fa fa-exclamation-triangle"></i> {{localization.getMessage('common.requiredField')}}</span>
                </div>
                <div class="m-t-xs" ng-show="!pass.confirmNewPassword">
                    <span class="text-danger" ng-show="pass.confirmNewPassword || pass.confirmNewPassword !== pass.newPassword"><i class="fa fa-exclamation-triangle"></i> {{localization.getMessage('administration.users.invalidPassword')}}</span>
                </div>
            </div>
            <div class="form-group"><label>{{localization.getMessage('administration.users.confirmNewPassword')}}</label>
                <input type="password" class="form-control" name="password" required ng-model="pass.confirmNewPassword">
                <div class="m-t-xs" ng-show="!pass.confirmNewPassword">
                    <span class="text-danger" ng-show="!pass.confirmNewPassword"><i class="fa fa-exclamation-triangle"></i> {{localization.getMessage('common.requiredField')}}</span>
                </div>
                <div class="m-t-xs" ng-show="!pass.confirmNewPassword">
                    <span class="text-danger" ng-show="pass.confirmNewPassword || pass.confirmNewPassword !== pass.newPassword"><i class="fa fa-exclamation-triangle"></i> {{localization.getMessage('administration.users.invalidPassword')}}</span>
                </div>
            </div>
            <hr/>
            
            
        </div>
        
        
        <div class="modal-footer">
            <button type="submit" class="btn btn-doob" ng-click="save()" ng-disabled="!pass.oldPassword || !pass.newPassword || !pass.confirmNewPassword || pass.confirmNewPassword != pass.newPassword">{{localization.getMessage('common.save')}}</button>
            <!--button class="btn btn-doob" ng-click="undoChanges()">{{localization.getMessage('common.clear')}}</button-->
            <button class="btn btn-doob" ng-click="cancel()">{{localization.getMessage('common.cancel')}}</button>
        </div>
    </form>
    
</div>
                </div>
            </div>
        </div>

    </div>
    </div>
