<div class="inmodal hmodal-info">
    <div class="color-line"></div>
    <div class="modal-header">
        <h4 class="modal-title">{{localization.getMessage('menu.language.edit')}}</h4>
    </div>
        <div class="modal-body">
      <div class="row">
        <form method="get" class="form-horizontal col-lg-6">
          <div class="form-group">
            <label class="col-sm-5 control-label">{{localization.getMessage('common.identificationCode')}}</label>
            <div class="col-sm-7">
              <input type="text" class="form-control input-sm m-b-xs" ng-model="itemEdit.LIdentificationCode">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-5 control-label">{{localization.getMessage('common.name')}} <span class="required">*</span></label>
            <div class="col-sm-7">
              <input type="text" class="form-control input-sm m-b-xs" ng-model="itemEdit.LName">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-5 control-label">{{localization.getMessage('common.shortName')}} <span class="required">*</span></label>
            <div class="col-sm-7">
              <input type="text" class="form-control input-sm m-b-xs" ng-model="itemEdit.LShortName">
            </div>
          </div>
        </form>
       </div>
       <br/>
       <label class=""><span class="required">*</span> {{localization.getMessage('common.requiredField')}}</label>
       <hr/>

      </div>

      <div class="modal-footer">
        <button type="submit" class="btn btn-doob" ng-click="save()" ng-disabled="!itemEdit.LIdentificationCode || !itemEdit.LName || !itemEdit.LShortName">{{localization.getMessage('common.save')}}</button>
        <button class="btn btn-doob" ng-click="undoChanges()">{{localization.getMessage('common.clear')}}</button>
        <button class="btn btn-doob" ng-click="cancel()">{{localization.getMessage('common.cancel')}}</button>
      </div>
    </div>

