<div class="inmodal">
    <div class="color-line"></div>
    <div class="modal-header">
        <h4 class="modal-title">{{localization.getMessage('procurement.invoice.edit')}}</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-6">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('procurement.invoice.iInvoiceNumber')}}
<span class="required">*</span>                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.IInvoiceNumber" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('procurement.invoice.iInvoiceDate')}}
<span class="required">*</span>                        </label>
                        <div class="col-sm-7">
                            <div class="input-group date m-b-xs" id="dtpIInvoiceDate">
                                <span ng-click="open($event, 'openedIInvoiceDate')" class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                                <input type="text" ng-model="itemEdit.IInvoiceDate" class="form-control input-sm" ui-date="{dateFormat: 'dd/MM/yyyy'}" ui-date-format="dd/MM/yyyy"
                                    datepicker-popup="{{itemEdit.IInvoiceDate.dateFormat}}" is-open="openedIInvoiceDate" show-button-bar="false" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('procurement.invoice.iPaymentDate')}}
<span class="required">*</span>                        </label>
                        <div class="col-sm-7">
                            <div class="input-group date m-b-xs" id="dtpIPaymentDate">
                                <span ng-click="open($event, 'openedIPaymentDate')" class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                                <input type="text" ng-model="itemEdit.IPaymentDate" class="form-control input-sm" ui-date="{dateFormat: 'dd/MM/yyyy'}" ui-date-format="dd/MM/yyyy"
                                    datepicker-popup="{{itemEdit.IPaymentDate.dateFormat}}" is-open="openedIPaymentDate" show-button-bar="false" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('procurement.invoice.iShippingDocumentNumber')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.IShippingDocumentNumber" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('procurement.invoice.iShippingDate')}}
                        </label>
                        <div class="col-sm-7">
                            <div class="input-group date m-b-xs" id="dtpIShippingDate">
                                <span ng-click="open($event, 'openedIShippingDate')" class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                                <input type="text" ng-model="itemEdit.IShippingDate" class="form-control input-sm" ui-date="{dateFormat: 'dd/MM/yyyy'}" ui-date-format="dd/MM/yyyy"
                                    datepicker-popup="{{itemEdit.IShippingDate.dateFormat}}" is-open="openedIShippingDate" show-button-bar="false" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('procurement.invoice.iInvoiceStatus')}}
<span class="required">*</span>                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.IInvoiceStatus" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('procurement.invoice.iPrintStatus')}}
<span class="required">*</span>                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.IPrintStatus" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('procurement.invoice.iSubTotal')}}
<span class="required">*</span>                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.ISubTotal" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('procurement.invoice.iTurnoverCosts')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.ITurnoverCosts" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('procurement.invoice.iTotal')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.ITotal" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('procurement.invoice.iPostCosts')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.IPostCosts" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('procurement.invoice.iPackingCosts')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.IPackingCosts" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('procurement.invoice.iAmountWithoutTax')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.IAmountWithoutTax" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('procurement.invoice.iTaxAmount')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.ITaxAmount" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('procurement.invoice.iPaymentAmount')}}
<span class="required">*</span>                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.IPaymentAmount" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('procurement.invoice.iForeignCommission')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.IForeignCommission" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('procurement.invoice.iDiscountPercentage')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.IDiscountPercentage" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('procurement.invoice.iForeignCurrencyNetAmount')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.IForeignCurrencyNetAmount" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('procurement.invoice.iTotalRSD')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.ITotalRSD" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('procurement.invoice.iExportCommission')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.IExportCommission" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('procurement.invoice.iRemark')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.IRemark" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('procurement.invoice.iTaxDeclarationNumber')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.ITaxDeclarationNumber" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('procurement.invoice.iConfirmationNumber')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.IConfirmationNumber" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('procurement.invoice.iDeclarationDate')}}
                        </label>
                        <div class="col-sm-7">
                            <div class="input-group date m-b-xs" id="dtpIDeclarationDate">
                                <span ng-click="open($event, 'openedIDeclarationDate')" class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                                <input type="text" ng-model="itemEdit.IDeclarationDate" class="form-control input-sm" ui-date="{dateFormat: 'dd/MM/yyyy'}" ui-date-format="dd/MM/yyyy"
                                    datepicker-popup="{{itemEdit.IDeclarationDate.dateFormat}}" is-open="openedIDeclarationDate" show-button-bar="false" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('procurement.invoice.iConfirmationDate')}}
                        </label>
                        <div class="col-sm-7">
                            <div class="input-group date m-b-xs" id="dtpIConfirmationDate">
                                <span ng-click="open($event, 'openedIConfirmationDate')" class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                                <input type="text" ng-model="itemEdit.IConfirmationDate" class="form-control input-sm" ui-date="{dateFormat: 'dd/MM/yyyy'}" ui-date-format="dd/MM/yyyy"
                                    datepicker-popup="{{itemEdit.IConfirmationDate.dateFormat}}" is-open="openedIConfirmationDate" show-button-bar="false" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('procurement.invoice.iKOrderNumber')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.IKOrderNumber" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('procurement.invoice.iFreeInvoice')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.IFreeInvoice" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('procurement.invoice.iUnified')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.IUnified" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('procurement.invoice.iConclusionNumber')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.IConclusionNumber" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('procurement.invoice.iUniqueCustomsIdentifier')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.IUniqueCustomsIdentifier" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('procurement.invoice.iCustomsDate')}}
                        </label>
                        <div class="col-sm-7">
                            <div class="input-group date m-b-xs" id="dtpICustomsDate">
                                <span ng-click="open($event, 'openedICustomsDate')" class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                                <input type="text" ng-model="itemEdit.ICustomsDate" class="form-control input-sm" ui-date="{dateFormat: 'dd/MM/yyyy'}" ui-date-format="dd/MM/yyyy"
                                    datepicker-popup="{{itemEdit.ICustomsDate.dateFormat}}" is-open="openedICustomsDate" show-button-bar="false" />
                            </div>
                        </div>
                    </div>
                </form>
                <p><span class="required">*</span> {{localization.getMessage('common.requiredField')}}</p>
            </div>
        </div>
        <div class ="row">
    		<div class="col-lg-12 corps" >
                <ng-include src ="'procurement/invoice/tmplInvoiceDetail.tpl.html'">
                </ng-include>
            </div>
		</div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-doob" ng-click="save()" ng-disabled="!canSave()">{{localization.getMessage('common.save')}}</button>
        <button class="btn btn-doob" ng-click="revert()" ng-disabled="!canRevert()">{{localization.getMessage('common.clear')}}</button>
        <button class="btn btn-doob" ng-click="cancel()">{{localization.getMessage('common.cancel')}}</button>
    </div>
</div>