<div class="inmodal">
    <div class="color-line"></div>
    <div class="modal-header">
        <h4 class="modal-title">{{localization.getMessage('sellingprice.sellingPrice.edit')}}</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-6">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('sellingprice.sellingPrice.sPProductStatus')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.SPProductStatus" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('sellingprice.sellingPrice.sPPrice')}}
<span class="required">*</span>                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.SPPrice" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('sellingprice.sellingPrice.sPDateFrom')}}
<span class="required">*</span>                        </label>
                        <div class="col-sm-7">
                            <div class="input-group date m-b-xs" id="dtpSPDateFrom">
                                <span ng-click="open($event, 'openedSPDateFrom')" class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                                <input type="text" ng-model="itemEdit.SPDateFrom" class="form-control input-sm" ui-date="{dateFormat: 'dd/MM/yyyy'}" ui-date-format="dd/MM/yyyy"
                                    datepicker-popup="{{itemEdit.SPDateFrom.dateFormat}}" is-open="openedSPDateFrom" show-button-bar="false" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('sellingprice.sellingPrice.sPDateUntil')}}
                        </label>
                        <div class="col-sm-7">
                            <div class="input-group date m-b-xs" id="dtpSPDateUntil">
                                <span ng-click="open($event, 'openedSPDateUntil')" class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                                <input type="text" ng-model="itemEdit.SPDateUntil" class="form-control input-sm" ui-date="{dateFormat: 'dd/MM/yyyy'}" ui-date-format="dd/MM/yyyy"
                                    datepicker-popup="{{itemEdit.SPDateUntil.dateFormat}}" is-open="openedSPDateUntil" show-button-bar="false" />
                            </div>
                        </div>
                    </div>
                </form>
                <p><span class="required">*</span> {{localization.getMessage('common.requiredField')}}</p>
            </div>
        </div>
        <div class ="row">
    		<div class="col-lg-12 corps" >
                <ng-include src ="'sellingprice/sellingprice/tmplSellingPriceDetail.tpl.html'">
                </ng-include>
            </div>
		</div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-doob" ng-click="save()" ng-disabled="!canSave()">{{localization.getMessage('common.save')}}</button>
        <button class="btn btn-doob" ng-click="revert()" ng-disabled="!canRevert()">{{localization.getMessage('common.clear')}}</button>
        <button class="btn btn-doob" ng-click="cancel()">{{localization.getMessage('common.cancel')}}</button>
    </div>
</div>