<div class="inmodal">
    <div class="color-line"></div>
    <div class="modal-header">
        <h4 class="modal-title">{{localization.getMessage('capacitymanagement.asset.edit')}}</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-6">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('capacitymanagement.asset.aInventoryNumber')}}
<span class="required">*</span>                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.AInventoryNumber" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('capacitymanagement.asset.aBuyingValue')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.ABuyingValue" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('capacitymanagement.asset.aPurchaseValueInitialState')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.APurchaseValueInitialState" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('capacitymanagement.asset.aDepreciatedValueInitialState')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.ADepreciatedValueInitialState" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('capacitymanagement.asset.aPurchaseValue')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.APurchaseValue" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('capacitymanagement.asset.aDepreciatedValue')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.ADepreciatedValue" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('capacitymanagement.asset.aCurrentValue')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.ACurrentValue" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('capacitymanagement.asset.aCurrentAmortization')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.ACurrentAmortization" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('capacitymanagement.asset.aCurrentRevaluation')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.ACurrentRevaluation" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('capacitymanagement.asset.aRemark')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.ARemark" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('capacitymanagement.asset.aPurchasingDate')}}
<span class="required">*</span>                        </label>
                        <div class="col-sm-7">
                            <div class="input-group date m-b-xs" id="dtpAPurchasingDate">
                                <span ng-click="open($event, 'openedAPurchasingDate')" class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                                <input type="text" ng-model="itemEdit.APurchasingDate" class="form-control input-sm" ui-date="{dateFormat: 'dd/MM/yyyy'}" ui-date-format="dd/MM/yyyy"
                                    datepicker-popup="{{itemEdit.APurchasingDate.dateFormat}}" is-open="openedAPurchasingDate" show-button-bar="false" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('capacitymanagement.asset.aExchangeRate')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.AExchangeRate" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('capacitymanagement.asset.aExchangeRateDate')}}
                        </label>
                        <div class="col-sm-7">
                            <div class="input-group date m-b-xs" id="dtpAExchangeRateDate">
                                <span ng-click="open($event, 'openedAExchangeRateDate')" class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                                <input type="text" ng-model="itemEdit.AExchangeRateDate" class="form-control input-sm" ui-date="{dateFormat: 'dd/MM/yyyy'}" ui-date-format="dd/MM/yyyy"
                                    datepicker-popup="{{itemEdit.AExchangeRateDate.dateFormat}}" is-open="openedAExchangeRateDate" show-button-bar="false" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('capacitymanagement.asset.aBuyingValueVal')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.ABuyingValueVal" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('capacitymanagement.asset.aStatus')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.AStatus" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('capacitymanagement.asset.aAmortizationRate')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.AAmortizationRate" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('capacitymanagement.asset.aAmortizationType')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.AAmortizationType" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('capacitymanagement.asset.aQuantity')}}
<span class="required">*</span>                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.AQuantity" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('capacitymanagement.asset.aAmortizationDate')}}
                        </label>
                        <div class="col-sm-7">
                            <div class="input-group date m-b-xs" id="dtpAAmortizationDate">
                                <span ng-click="open($event, 'openedAAmortizationDate')" class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                                <input type="text" ng-model="itemEdit.AAmortizationDate" class="form-control input-sm" ui-date="{dateFormat: 'dd/MM/yyyy'}" ui-date-format="dd/MM/yyyy"
                                    datepicker-popup="{{itemEdit.AAmortizationDate.dateFormat}}" is-open="openedAAmortizationDate" show-button-bar="false" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('capacitymanagement.asset.aRevaluationDate')}}
                        </label>
                        <div class="col-sm-7">
                            <div class="input-group date m-b-xs" id="dtpARevaluationDate">
                                <span ng-click="open($event, 'openedARevaluationDate')" class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                                <input type="text" ng-model="itemEdit.ARevaluationDate" class="form-control input-sm" ui-date="{dateFormat: 'dd/MM/yyyy'}" ui-date-format="dd/MM/yyyy"
                                    datepicker-popup="{{itemEdit.ARevaluationDate.dateFormat}}" is-open="openedARevaluationDate" show-button-bar="false" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('capacitymanagement.asset.aDeactivationDate')}}
                        </label>
                        <div class="col-sm-7">
                            <div class="input-group date m-b-xs" id="dtpADeactivationDate">
                                <span ng-click="open($event, 'openedADeactivationDate')" class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                                <input type="text" ng-model="itemEdit.ADeactivationDate" class="form-control input-sm" ui-date="{dateFormat: 'dd/MM/yyyy'}" ui-date-format="dd/MM/yyyy"
                                    datepicker-popup="{{itemEdit.ADeactivationDate.dateFormat}}" is-open="openedADeactivationDate" show-button-bar="false" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('capacitymanagement.asset.aActivationDate')}}
                        </label>
                        <div class="col-sm-7">
                            <div class="input-group date m-b-xs" id="dtpAActivationDate">
                                <span ng-click="open($event, 'openedAActivationDate')" class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                                <input type="text" ng-model="itemEdit.AActivationDate" class="form-control input-sm" ui-date="{dateFormat: 'dd/MM/yyyy'}" ui-date-format="dd/MM/yyyy"
                                    datepicker-popup="{{itemEdit.AActivationDate.dateFormat}}" is-open="openedAActivationDate" show-button-bar="false" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('capacitymanagement.asset.aDescription')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.ADescription" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('capacitymanagement.asset.aProductionYear')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.AProductionYear" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('capacitymanagement.asset.aProductCode')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.AProductCode" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('capacitymanagement.asset.aProductName')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.AProductName" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('capacitymanagement.asset.aSupplierCode')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.ASupplierCode" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('capacitymanagement.asset.aSupplierName')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.ASupplierName" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('capacitymanagement.asset.aPosition')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.APosition" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('capacitymanagement.asset.aEnteredBy')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.AEnteredBy" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('capacitymanagement.asset.aEntryDate')}}
                        </label>
                        <div class="col-sm-7">
                            <div class="input-group date m-b-xs" id="dtpAEntryDate">
                                <span ng-click="open($event, 'openedAEntryDate')" class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                                <input type="text" ng-model="itemEdit.AEntryDate" class="form-control input-sm" ui-date="{dateFormat: 'dd/MM/yyyy'}" ui-date-format="dd/MM/yyyy"
                                    datepicker-popup="{{itemEdit.AEntryDate.dateFormat}}" is-open="openedAEntryDate" show-button-bar="false" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('capacitymanagement.asset.aChangedBy')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.AChangedBy" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                </form>
                <p><span class="required">*</span> {{localization.getMessage('common.requiredField')}}</p>
            </div>
        </div>
        <div class ="row">
    		<div class="col-lg-12 corps" >
                <ng-include src ="'capacitymanagement/asset/tmplAssetDetail.tpl.html'">
                </ng-include>
            </div>
		</div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-doob" ng-click="save()" ng-disabled="!canSave()">{{localization.getMessage('common.save')}}</button>
        <button class="btn btn-doob" ng-click="revert()" ng-disabled="!canRevert()">{{localization.getMessage('common.clear')}}</button>
        <button class="btn btn-doob" ng-click="cancel()">{{localization.getMessage('common.cancel')}}</button>
    </div>
</div>