<div class="inmodal">
    <div class="color-line"></div>
    <div class="modal-header">
        <h4 class="modal-title">{{localization.getMessage('stockmanagement.requestForProposalHeading.edit')}}</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-6">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('stockmanagement.requestForProposalHeading.rFPHNumber')}}
<span class="required">*</span>                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.RFPHNumber" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('stockmanagement.requestForProposalHeading.rFPHIssueDate')}}
<span class="required">*</span>                        </label>
                        <div class="col-sm-7">
                            <div class="input-group date m-b-xs" id="dtpRFPHIssueDate">
                                <span ng-click="open($event, 'openedRFPHIssueDate')" class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                                <input type="text" ng-model="itemEdit.RFPHIssueDate" class="form-control input-sm" ui-date="{dateFormat: 'dd/MM/yyyy'}" ui-date-format="dd/MM/yyyy"
                                    datepicker-popup="{{itemEdit.RFPHIssueDate.dateFormat}}" is-open="openedRFPHIssueDate" show-button-bar="false" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('stockmanagement.requestForProposalHeading.rFPHResponseDeadline')}}
<span class="required">*</span>                        </label>
                        <div class="col-sm-7">
                            <div class="input-group date m-b-xs" id="dtpRFPHResponseDeadline">
                                <span ng-click="open($event, 'openedRFPHResponseDeadline')" class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                                <input type="text" ng-model="itemEdit.RFPHResponseDeadline" class="form-control input-sm" ui-date="{dateFormat: 'dd/MM/yyyy'}" ui-date-format="dd/MM/yyyy"
                                    datepicker-popup="{{itemEdit.RFPHResponseDeadline.dateFormat}}" is-open="openedRFPHResponseDeadline" show-button-bar="false" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('stockmanagement.requestForProposalHeading.rFPHOrganizationPart')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.RFPHOrganizationPart" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('stockmanagement.requestForProposalHeading.rFPHResponsiblePerson')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.RFPHResponsiblePerson" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('stockmanagement.requestForProposalHeading.rFPHPhoneNumber')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.RFPHPhoneNumber" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('stockmanagement.requestForProposalHeading.rFPHStatus')}}
<span class="required">*</span>                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.RFPHStatus" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('stockmanagement.requestForProposalHeading.rFPHRemark')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.RFPHRemark" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('stockmanagement.requestForProposalHeading.rFPHPrintStatus')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.RFPHPrintStatus" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                </form>
                <p><span class="required">*</span> {{localization.getMessage('common.requiredField')}}</p>
            </div>
        </div>
        <div class ="row">
    		<div class="col-lg-12 corps" >
                <ng-include src ="'stockmanagement/requestforproposalheading/tmplRequestForProposalHeadingDetail.tpl.html'">
                </ng-include>
            </div>
		</div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-doob" ng-click="save()" ng-disabled="!canSave()">{{localization.getMessage('common.save')}}</button>
        <button class="btn btn-doob" ng-click="revert()" ng-disabled="!canRevert()">{{localization.getMessage('common.clear')}}</button>
        <button class="btn btn-doob" ng-click="cancel()">{{localization.getMessage('common.cancel')}}</button>
    </div>
</div>