<div class="col-lg-4 animated-panel zoomIn" ng-if="mode != 'edit'">
    <form class="form-horizontal">
        <fieldset ng-disabled="true">
            <div class="col-lg-12" ng-disabled="true">
                <div ng-repeat="property in itemDefinition.properties" class="form-group">
                    <label class="col-sm-5 control-label">{{localization.getMessage(itemDefinition.label + '.' + property.label)}}</label>
                    <div class="col-sm-7 padding-7">
                        <input type="text" class="form-control input-xs m-b-xs" value="{{itemEdit[property.name]}}" />
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<div class="corps animated-panel zoomIn" ng-class="{'col-lg-8':(mode != 'edit')}">
    <tabset>
        <tab heading="{{localization.getMessage('customerrequest.customerRequestItem.urgentStatus')}}">
            <div class="modal-body" ng-if="!(itemEdit['urgentStatus'])">
                {{localization.getMessage('common.noEntities')}}
            </div>
            <div class="modal-body" ng-if="itemEdit['urgentStatus']">
                <table st-table="urgentStatusCollection" st-safe-src="itemEdit['urgentStatus']" class="items fixed-header fixed-header-detail">
                    <thead>
                        <tr>
                            <th ng-repeat="property in urgentStatusDefinition.properties"
                             lr-drag-src="headers" lr-drop-target="headers" st-sort="{{property.name}}" st-skip-natural="true">
                                {{localization.getMessage(urgentStatusDefinition.label + '.' + property.label)}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td ng-repeat="property in urgentStatusDefinition.properties">
                                <span ng-if="!property.dateFormat">{{itemEdit['urgentStatus'][property.name]}}</span>
                                <span ng-if="property.dateFormat">{{itemEdit['urgentStatus'][property.name] | date:property.dateFormat}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-body" ng-if="mode == 'edit'">
                <button type="button" ng-click="openChooseUrgentStatusDialog()" class="btn btn-sm btn-doob">
                    <i class="glyphicon glyphicon-pencil"></i> {{localization.getMessage('common.choose')}}
                </button>
            </div>
        </tab>
        <tab heading="{{localization.getMessage('customerrequest.customerRequestItem.currency')}}">
            <div class="modal-body" ng-if="!(itemEdit['currency'])">
                {{localization.getMessage('common.noEntities')}}
            </div>
            <div class="modal-body" ng-if="itemEdit['currency']">
                <table st-table="currencyCollection" st-safe-src="itemEdit['currency']" class="items fixed-header fixed-header-detail">
                    <thead>
                        <tr>
                            <th ng-repeat="property in currencyDefinition.properties"
                             lr-drag-src="headers" lr-drop-target="headers" st-sort="{{property.name}}" st-skip-natural="true">
                                {{localization.getMessage(currencyDefinition.label + '.' + property.label)}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td ng-repeat="property in currencyDefinition.properties">
                                <span ng-if="!property.dateFormat">{{itemEdit['currency'][property.name]}}</span>
                                <span ng-if="property.dateFormat">{{itemEdit['currency'][property.name] | date:property.dateFormat}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-body" ng-if="mode == 'edit'">
                <button type="button" ng-click="openChooseCurrencyDialog()" class="btn btn-sm btn-doob">
                    <i class="glyphicon glyphicon-pencil"></i> {{localization.getMessage('common.choose')}}
                </button>
            </div>
        </tab>
        <tab heading="{{localization.getMessage('customerrequest.customerRequestItem.customerRequestHeader')}}">
            <div class="modal-body" ng-if="!(itemEdit['customerRequestHeader'])">
                {{localization.getMessage('common.noEntities')}}
            </div>
            <div class="modal-body" ng-if="itemEdit['customerRequestHeader']">
                <table st-table="customerRequestHeaderCollection" st-safe-src="itemEdit['customerRequestHeader']" class="items fixed-header fixed-header-detail">
                    <thead>
                        <tr>
                            <th ng-repeat="property in customerRequestHeaderDefinition.properties"
                             lr-drag-src="headers" lr-drop-target="headers" st-sort="{{property.name}}" st-skip-natural="true">
                                {{localization.getMessage(customerRequestHeaderDefinition.label + '.' + property.label)}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td ng-repeat="property in customerRequestHeaderDefinition.properties">
                                <span ng-if="!property.dateFormat">{{itemEdit['customerRequestHeader'][property.name]}}</span>
                                <span ng-if="property.dateFormat">{{itemEdit['customerRequestHeader'][property.name] | date:property.dateFormat}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-body" ng-if="mode == 'edit'">
                <button type="button" ng-click="openChooseCustomerRequestHeaderDialog()" class="btn btn-sm btn-doob">
                    <i class="glyphicon glyphicon-pencil"></i> {{localization.getMessage('common.choose')}}
                </button>
            </div>
        </tab>
        <tab heading="{{localization.getMessage('customerrequest.customerRequestItem.organizationUnit')}}">
            <div class="modal-body" ng-if="!(itemEdit['organizationUnit'])">
                {{localization.getMessage('common.noEntities')}}
            </div>
            <div class="modal-body" ng-if="itemEdit['organizationUnit']">
                <table st-table="organizationUnitCollection" st-safe-src="itemEdit['organizationUnit']" class="items fixed-header fixed-header-detail">
                    <thead>
                        <tr>
                            <th ng-repeat="property in organizationUnitDefinition.properties"
                             lr-drag-src="headers" lr-drop-target="headers" st-sort="{{property.name}}" st-skip-natural="true">
                                {{localization.getMessage(organizationUnitDefinition.label + '.' + property.label)}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td ng-repeat="property in organizationUnitDefinition.properties">
                                <span ng-if="!property.dateFormat">{{itemEdit['organizationUnit'][property.name]}}</span>
                                <span ng-if="property.dateFormat">{{itemEdit['organizationUnit'][property.name] | date:property.dateFormat}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-body" ng-if="mode == 'edit'">
                <button type="button" ng-click="openChooseOrganizationUnitDialog()" class="btn btn-sm btn-doob">
                    <i class="glyphicon glyphicon-pencil"></i> {{localization.getMessage('common.choose')}}
                </button>
            </div>
        </tab>
        <tab heading="{{localization.getMessage('customerrequest.customerRequestItem.commercialityStatus')}}">
            <div class="modal-body" ng-if="!(itemEdit['commercialityStatus'])">
                {{localization.getMessage('common.noEntities')}}
            </div>
            <div class="modal-body" ng-if="itemEdit['commercialityStatus']">
                <table st-table="commercialityStatusCollection" st-safe-src="itemEdit['commercialityStatus']" class="items fixed-header fixed-header-detail">
                    <thead>
                        <tr>
                            <th ng-repeat="property in commercialityStatusDefinition.properties"
                             lr-drag-src="headers" lr-drop-target="headers" st-sort="{{property.name}}" st-skip-natural="true">
                                {{localization.getMessage(commercialityStatusDefinition.label + '.' + property.label)}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td ng-repeat="property in commercialityStatusDefinition.properties">
                                <span ng-if="!property.dateFormat">{{itemEdit['commercialityStatus'][property.name]}}</span>
                                <span ng-if="property.dateFormat">{{itemEdit['commercialityStatus'][property.name] | date:property.dateFormat}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-body" ng-if="mode == 'edit'">
                <button type="button" ng-click="openChooseCommercialityStatusDialog()" class="btn btn-sm btn-doob">
                    <i class="glyphicon glyphicon-pencil"></i> {{localization.getMessage('common.choose')}}
                </button>
            </div>
        </tab>
        <tab heading="{{localization.getMessage('customerrequest.customerRequestItem.identification')}}">
            <div class="modal-body" ng-if="!(itemEdit['identification'])">
                {{localization.getMessage('common.noEntities')}}
            </div>
            <div class="modal-body" ng-if="itemEdit['identification']">
                <table st-table="identificationCollection" st-safe-src="itemEdit['identification']" class="items fixed-header fixed-header-detail">
                    <thead>
                        <tr>
                            <th ng-repeat="property in identificationDefinition.properties"
                             lr-drag-src="headers" lr-drop-target="headers" st-sort="{{property.name}}" st-skip-natural="true">
                                {{localization.getMessage(identificationDefinition.label + '.' + property.label)}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td ng-repeat="property in identificationDefinition.properties">
                                <span ng-if="!property.dateFormat">{{itemEdit['identification'][property.name]}}</span>
                                <span ng-if="property.dateFormat">{{itemEdit['identification'][property.name] | date:property.dateFormat}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-body" ng-if="mode == 'edit'">
                <button type="button" ng-click="openChooseIdentificationDialog()" class="btn btn-sm btn-doob">
                    <i class="glyphicon glyphicon-pencil"></i> {{localization.getMessage('common.choose')}}
                </button>
            </div>
        </tab>
    </tabset>
</div>