<div class="inmodal">
    <div class="color-line"></div>
    <div class="modal-header">
        <h4 class="modal-title">{{localization.getMessage('stockmanagement.requisitionItem.edit')}}</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-6">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('stockmanagement.requisitionItem.rIOrdinalNumber')}}
<span class="required">*</span>                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.RIOrdinalNumber" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('stockmanagement.requisitionItem.rILocationAddress')}}
<span class="required">*</span>                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.RILocationAddress" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('stockmanagement.requisitionItem.rIQuantityStandardized')}}
<span class="required">*</span>                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.RIQuantityStandardized" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('stockmanagement.requisitionItem.rIQuantityRequisitioned')}}
<span class="required">*</span>                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.RIQuantityRequisitioned" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('stockmanagement.requisitionItem.rIQuantityReserved')}}
<span class="required">*</span>                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.RIQuantityReserved" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('stockmanagement.requisitionItem.rIQuantityIssued')}}
<span class="required">*</span>                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.RIQuantityIssued" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('stockmanagement.requisitionItem.rIBookValueAmmount')}}
<span class="required">*</span>                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.RIBookValueAmmount" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('stockmanagement.requisitionItem.rIPriceDesignation')}}
<span class="required">*</span>                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.RIPriceDesignation" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('stockmanagement.requisitionItem.rIPostingPosition')}}
<span class="required">*</span>                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.RIPostingPosition" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('stockmanagement.requisitionItem.rIAmmountAfterPosting')}}
<span class="required">*</span>                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.RIAmmountAfterPosting" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('stockmanagement.requisitionItem.rIBatchNumber')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.RIBatchNumber" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('stockmanagement.requisitionItem.rIStorno')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.RIStorno" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('stockmanagement.requisitionItem.rIStepNumber')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.RIStepNumber" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('stockmanagement.requisitionItem.rIStatusReservedNotIssued')}}
<span class="required">*</span>                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.RIStatusReservedNotIssued" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('stockmanagement.requisitionItem.rIDocumentNumber')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.RIDocumentNumber" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('stockmanagement.requisitionItem.rISecurityIndicator')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.RISecurityIndicator" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                </form>
                <p><span class="required">*</span> {{localization.getMessage('common.requiredField')}}</p>
            </div>
        </div>
        <div class ="row">
    		<div class="col-lg-12 corps" >
                <ng-include src ="'stockmanagement/requisitionitem/tmplRequisitionItemDetail.tpl.html'">
                </ng-include>
            </div>
		</div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-doob" ng-click="save()" ng-disabled="!canSave()">{{localization.getMessage('common.save')}}</button>
        <button class="btn btn-doob" ng-click="revert()" ng-disabled="!canRevert()">{{localization.getMessage('common.clear')}}</button>
        <button class="btn btn-doob" ng-click="cancel()">{{localization.getMessage('common.cancel')}}</button>
    </div>
</div>