<div class="inmodal">
    <div class="color-line"></div>
    <div class="modal-header">
        <h4 class="modal-title">{{localization.getMessage('order.orderHeading.edit')}}</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-6">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('order.orderHeading.oHDocumentNumber')}}
<span class="required">*</span>                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.OHDocumentNumber" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('order.orderHeading.oHCreationDate')}}
<span class="required">*</span>                        </label>
                        <div class="col-sm-7">
                            <div class="input-group date m-b-xs" id="dtpOHCreationDate">
                                <span ng-click="open($event, 'openedOHCreationDate')" class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                                <input type="text" ng-model="itemEdit.OHCreationDate" class="form-control input-sm" ui-date="{dateFormat: 'dd/MM/yyyy'}" ui-date-format="dd/MM/yyyy"
                                    datepicker-popup="{{itemEdit.OHCreationDate.dateFormat}}" is-open="openedOHCreationDate" show-button-bar="false" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('order.orderHeading.oHContractNumber')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.OHContractNumber" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('order.orderHeading.oHOrderNumberOfBuyer')}}
<span class="required">*</span>                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.OHOrderNumberOfBuyer" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('order.orderHeading.oHOrderDate')}}
<span class="required">*</span>                        </label>
                        <div class="col-sm-7">
                            <div class="input-group date m-b-xs" id="dtpOHOrderDate">
                                <span ng-click="open($event, 'openedOHOrderDate')" class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                                <input type="text" ng-model="itemEdit.OHOrderDate" class="form-control input-sm" ui-date="{dateFormat: 'dd/MM/yyyy'}" ui-date-format="dd/MM/yyyy"
                                    datepicker-popup="{{itemEdit.OHOrderDate.dateFormat}}" is-open="openedOHOrderDate" show-button-bar="false" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('order.orderHeading.oHRemark')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.OHRemark" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('order.orderHeading.oHPaymentPeriodBuyer')}}
<span class="required">*</span>                        </label>
                        <div class="col-sm-7">
                            <div class="input-group date m-b-xs" id="dtpOHPaymentPeriodBuyer">
                                <span ng-click="open($event, 'openedOHPaymentPeriodBuyer')" class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                                <input type="text" ng-model="itemEdit.OHPaymentPeriodBuyer" class="form-control input-sm" ui-date="{dateFormat: 'dd/MM/yyyy'}" ui-date-format="dd/MM/yyyy"
                                    datepicker-popup="{{itemEdit.OHPaymentPeriodBuyer.dateFormat}}" is-open="openedOHPaymentPeriodBuyer" show-button-bar="false" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('order.orderHeading.oHBankLetterOfCredit')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.OHBankLetterOfCredit" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('order.orderHeading.oHDeletedStatus')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.OHDeletedStatus" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('order.orderHeading.oHCompletionStatus')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.OHCompletionStatus" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('order.orderHeading.oHPrintingStatus')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.OHPrintingStatus" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('order.orderHeading.oHConverted')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.OHConverted" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('order.orderHeading.oHShopId')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.OHShopId" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('order.orderHeading.oHShopIdOrderId')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.OHShopIdOrderId" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('order.orderHeading.oHOrderId')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.OHOrderId" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                </form>
                <p><span class="required">*</span> {{localization.getMessage('common.requiredField')}}</p>
            </div>
        </div>
        <div class ="row">
    		<div class="col-lg-12 corps" >
                <ng-include src ="'order/orderheading/tmplOrderHeadingDetail.tpl.html'">
                </ng-include>
            </div>
		</div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-doob" ng-click="save()" ng-disabled="!canSave()">{{localization.getMessage('common.save')}}</button>
        <button class="btn btn-doob" ng-click="revert()" ng-disabled="!canRevert()">{{localization.getMessage('common.clear')}}</button>
        <button class="btn btn-doob" ng-click="cancel()">{{localization.getMessage('common.cancel')}}</button>
    </div>
</div>