<div class="col-lg-4 animated-panel zoomIn" ng-if="mode != 'edit'">
    <form class="form-horizontal">
        <fieldset ng-disabled="true">
            <div class="col-lg-12" ng-disabled="true">
                <div ng-repeat="property in itemDefinition.properties" class="form-group">
                    <label class="col-sm-5 control-label">{{localization.getMessage(itemDefinition.label + '.' + property.label)}}</label>
                    <div class="col-sm-7 padding-7">
                        <input type="text" class="form-control input-xs m-b-xs" value="{{itemEdit[property.name]}}" />
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<div class="corps animated-panel zoomIn" ng-class="{'col-lg-8':(mode != 'edit')}">
    <tabset>
        <tab heading="{{localization.getMessage('procurement.shippingDocument.organizationUnit')}}">
            <div class="modal-body" ng-if="!(itemEdit['organizationUnit'])">
                {{localization.getMessage('common.noEntities')}}
            </div>
            <div class="modal-body" ng-if="itemEdit['organizationUnit']">
                <table st-table="organizationUnitCollection" st-safe-src="itemEdit['organizationUnit']" class="items fixed-header fixed-header-detail">
                    <thead>
                        <tr>
                            <th ng-repeat="property in organizationUnitDefinition.properties"
                             lr-drag-src="headers" lr-drop-target="headers" st-sort="{{property.name}}" st-skip-natural="true">
                                {{localization.getMessage(organizationUnitDefinition.label + '.' + property.label)}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td ng-repeat="property in organizationUnitDefinition.properties">
                                <span ng-if="!property.dateFormat">{{itemEdit['organizationUnit'][property.name]}}</span>
                                <span ng-if="property.dateFormat">{{itemEdit['organizationUnit'][property.name] | date:property.dateFormat}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-body" ng-if="mode == 'edit'">
                <button type="button" ng-click="openChooseOrganizationUnitDialog()" class="btn btn-sm btn-doob">
                    <i class="glyphicon glyphicon-pencil"></i> {{localization.getMessage('common.choose')}}
                </button>
            </div>
        </tab>
        <tab heading="{{localization.getMessage('procurement.shippingDocument.goodsIdentification')}}">
            <div class="modal-body" ng-if="!(itemEdit['goodsIdentification'])">
                {{localization.getMessage('common.noEntities')}}
            </div>
            <div class="modal-body" ng-if="itemEdit['goodsIdentification']">
                <table st-table="goodsIdentificationCollection" st-safe-src="itemEdit['goodsIdentification']" class="items fixed-header fixed-header-detail">
                    <thead>
                        <tr>
                            <th ng-repeat="property in goodsIdentificationDefinition.properties"
                             lr-drag-src="headers" lr-drop-target="headers" st-sort="{{property.name}}" st-skip-natural="true">
                                {{localization.getMessage(goodsIdentificationDefinition.label + '.' + property.label)}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td ng-repeat="property in goodsIdentificationDefinition.properties">
                                <span ng-if="!property.dateFormat">{{itemEdit['goodsIdentification'][property.name]}}</span>
                                <span ng-if="property.dateFormat">{{itemEdit['goodsIdentification'][property.name] | date:property.dateFormat}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-body" ng-if="mode == 'edit'">
                <button type="button" ng-click="openChooseGoodsIdentificationDialog()" class="btn btn-sm btn-doob">
                    <i class="glyphicon glyphicon-pencil"></i> {{localization.getMessage('common.choose')}}
                </button>
            </div>
        </tab>
        <tab heading="{{localization.getMessage('procurement.shippingDocument.invoiceIdentification')}}">
            <div class="modal-body" ng-if="!(itemEdit['invoiceIdentification'])">
                {{localization.getMessage('common.noEntities')}}
            </div>
            <div class="modal-body" ng-if="itemEdit['invoiceIdentification']">
                <table st-table="invoiceIdentificationCollection" st-safe-src="itemEdit['invoiceIdentification']" class="items fixed-header fixed-header-detail">
                    <thead>
                        <tr>
                            <th ng-repeat="property in invoiceIdentificationDefinition.properties"
                             lr-drag-src="headers" lr-drop-target="headers" st-sort="{{property.name}}" st-skip-natural="true">
                                {{localization.getMessage(invoiceIdentificationDefinition.label + '.' + property.label)}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td ng-repeat="property in invoiceIdentificationDefinition.properties">
                                <span ng-if="!property.dateFormat">{{itemEdit['invoiceIdentification'][property.name]}}</span>
                                <span ng-if="property.dateFormat">{{itemEdit['invoiceIdentification'][property.name] | date:property.dateFormat}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-body" ng-if="mode == 'edit'">
                <button type="button" ng-click="openChooseInvoiceIdentificationDialog()" class="btn btn-sm btn-doob">
                    <i class="glyphicon glyphicon-pencil"></i> {{localization.getMessage('common.choose')}}
                </button>
            </div>
        </tab>
        <tab heading="{{localization.getMessage('procurement.shippingDocument.orderHeading')}}">
            <div class="modal-body" ng-if="!(itemEdit['orderHeading'])">
                {{localization.getMessage('common.noEntities')}}
            </div>
            <div class="modal-body" ng-if="itemEdit['orderHeading']">
                <table st-table="orderHeadingCollection" st-safe-src="itemEdit['orderHeading']" class="items fixed-header fixed-header-detail">
                    <thead>
                        <tr>
                            <th ng-repeat="property in orderHeadingDefinition.properties"
                             lr-drag-src="headers" lr-drop-target="headers" st-sort="{{property.name}}" st-skip-natural="true">
                                {{localization.getMessage(orderHeadingDefinition.label + '.' + property.label)}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td ng-repeat="property in orderHeadingDefinition.properties">
                                <span ng-if="!property.dateFormat">{{itemEdit['orderHeading'][property.name]}}</span>
                                <span ng-if="property.dateFormat">{{itemEdit['orderHeading'][property.name] | date:property.dateFormat}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-body" ng-if="mode == 'edit'">
                <button type="button" ng-click="openChooseOrderHeadingDialog()" class="btn btn-sm btn-doob">
                    <i class="glyphicon glyphicon-pencil"></i> {{localization.getMessage('common.choose')}}
                </button>
            </div>
        </tab>
        <tab heading="{{localization.getMessage('procurement.shippingDocument.paymentMethod')}}">
            <div class="modal-body" ng-if="!(itemEdit['paymentMethod'])">
                {{localization.getMessage('common.noEntities')}}
            </div>
            <div class="modal-body" ng-if="itemEdit['paymentMethod']">
                <table st-table="paymentMethodCollection" st-safe-src="itemEdit['paymentMethod']" class="items fixed-header fixed-header-detail">
                    <thead>
                        <tr>
                            <th ng-repeat="property in paymentMethodDefinition.properties"
                             lr-drag-src="headers" lr-drop-target="headers" st-sort="{{property.name}}" st-skip-natural="true">
                                {{localization.getMessage(paymentMethodDefinition.label + '.' + property.label)}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td ng-repeat="property in paymentMethodDefinition.properties">
                                <span ng-if="!property.dateFormat">{{itemEdit['paymentMethod'][property.name]}}</span>
                                <span ng-if="property.dateFormat">{{itemEdit['paymentMethod'][property.name] | date:property.dateFormat}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-body" ng-if="mode == 'edit'">
                <button type="button" ng-click="openChoosePaymentMethodDialog()" class="btn btn-sm btn-doob">
                    <i class="glyphicon glyphicon-pencil"></i> {{localization.getMessage('common.choose')}}
                </button>
            </div>
        </tab>
        <tab heading="{{localization.getMessage('procurement.shippingDocument.declarationBasis')}}">
            <div class="modal-body" ng-if="!(itemEdit['declarationBasis'])">
                {{localization.getMessage('common.noEntities')}}
            </div>
            <div class="modal-body" ng-if="itemEdit['declarationBasis']">
                <table st-table="declarationBasisCollection" st-safe-src="itemEdit['declarationBasis']" class="items fixed-header fixed-header-detail">
                    <thead>
                        <tr>
                            <th ng-repeat="property in declarationBasisDefinition.properties"
                             lr-drag-src="headers" lr-drop-target="headers" st-sort="{{property.name}}" st-skip-natural="true">
                                {{localization.getMessage(declarationBasisDefinition.label + '.' + property.label)}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td ng-repeat="property in declarationBasisDefinition.properties">
                                <span ng-if="!property.dateFormat">{{itemEdit['declarationBasis'][property.name]}}</span>
                                <span ng-if="property.dateFormat">{{itemEdit['declarationBasis'][property.name] | date:property.dateFormat}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-body" ng-if="mode == 'edit'">
                <button type="button" ng-click="openChooseDeclarationBasisDialog()" class="btn btn-sm btn-doob">
                    <i class="glyphicon glyphicon-pencil"></i> {{localization.getMessage('common.choose')}}
                </button>
            </div>
        </tab>
        <tab heading="{{localization.getMessage('procurement.shippingDocument.documentType')}}">
            <div class="modal-body" ng-if="!(itemEdit['documentType'])">
                {{localization.getMessage('common.noEntities')}}
            </div>
            <div class="modal-body" ng-if="itemEdit['documentType']">
                <table st-table="documentTypeCollection" st-safe-src="itemEdit['documentType']" class="items fixed-header fixed-header-detail">
                    <thead>
                        <tr>
                            <th ng-repeat="property in documentTypeDefinition.properties"
                             lr-drag-src="headers" lr-drop-target="headers" st-sort="{{property.name}}" st-skip-natural="true">
                                {{localization.getMessage(documentTypeDefinition.label + '.' + property.label)}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td ng-repeat="property in documentTypeDefinition.properties">
                                <span ng-if="!property.dateFormat">{{itemEdit['documentType'][property.name]}}</span>
                                <span ng-if="property.dateFormat">{{itemEdit['documentType'][property.name] | date:property.dateFormat}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-body" ng-if="mode == 'edit'">
                <button type="button" ng-click="openChooseDocumentTypeDialog()" class="btn btn-sm btn-doob">
                    <i class="glyphicon glyphicon-pencil"></i> {{localization.getMessage('common.choose')}}
                </button>
            </div>
        </tab>
        <tab heading="{{localization.getMessage('procurement.shippingDocument.consignmentStockroom')}}">
            <div class="modal-body" ng-if="!(itemEdit['consignmentStockroom'])">
                {{localization.getMessage('common.noEntities')}}
            </div>
            <div class="modal-body" ng-if="itemEdit['consignmentStockroom']">
                <table st-table="consignmentStockroomCollection" st-safe-src="itemEdit['consignmentStockroom']" class="items fixed-header fixed-header-detail">
                    <thead>
                        <tr>
                            <th ng-repeat="property in consignmentStockroomDefinition.properties"
                             lr-drag-src="headers" lr-drop-target="headers" st-sort="{{property.name}}" st-skip-natural="true">
                                {{localization.getMessage(consignmentStockroomDefinition.label + '.' + property.label)}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td ng-repeat="property in consignmentStockroomDefinition.properties">
                                <span ng-if="!property.dateFormat">{{itemEdit['consignmentStockroom'][property.name]}}</span>
                                <span ng-if="property.dateFormat">{{itemEdit['consignmentStockroom'][property.name] | date:property.dateFormat}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-body" ng-if="mode == 'edit'">
                <button type="button" ng-click="openChooseConsignmentStockroomDialog()" class="btn btn-sm btn-doob">
                    <i class="glyphicon glyphicon-pencil"></i> {{localization.getMessage('common.choose')}}
                </button>
            </div>
        </tab>
        <tab heading="{{localization.getMessage('procurement.shippingDocument.stockroom')}}">
            <div class="modal-body" ng-if="!(itemEdit['stockroom'])">
                {{localization.getMessage('common.noEntities')}}
            </div>
            <div class="modal-body" ng-if="itemEdit['stockroom']">
                <table st-table="stockroomCollection" st-safe-src="itemEdit['stockroom']" class="items fixed-header fixed-header-detail">
                    <thead>
                        <tr>
                            <th ng-repeat="property in stockroomDefinition.properties"
                             lr-drag-src="headers" lr-drop-target="headers" st-sort="{{property.name}}" st-skip-natural="true">
                                {{localization.getMessage(stockroomDefinition.label + '.' + property.label)}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td ng-repeat="property in stockroomDefinition.properties">
                                <span ng-if="!property.dateFormat">{{itemEdit['stockroom'][property.name]}}</span>
                                <span ng-if="property.dateFormat">{{itemEdit['stockroom'][property.name] | date:property.dateFormat}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-body" ng-if="mode == 'edit'">
                <button type="button" ng-click="openChooseStockroomDialog()" class="btn btn-sm btn-doob">
                    <i class="glyphicon glyphicon-pencil"></i> {{localization.getMessage('common.choose')}}
                </button>
            </div>
        </tab>
        <tab heading="{{localization.getMessage('procurement.shippingDocument.exporterIdentification')}}">
            <div class="modal-body" ng-if="!(itemEdit['exporterIdentification'])">
                {{localization.getMessage('common.noEntities')}}
            </div>
            <div class="modal-body" ng-if="itemEdit['exporterIdentification']">
                <table st-table="exporterIdentificationCollection" st-safe-src="itemEdit['exporterIdentification']" class="items fixed-header fixed-header-detail">
                    <thead>
                        <tr>
                            <th ng-repeat="property in exporterIdentificationDefinition.properties"
                             lr-drag-src="headers" lr-drop-target="headers" st-sort="{{property.name}}" st-skip-natural="true">
                                {{localization.getMessage(exporterIdentificationDefinition.label + '.' + property.label)}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td ng-repeat="property in exporterIdentificationDefinition.properties">
                                <span ng-if="!property.dateFormat">{{itemEdit['exporterIdentification'][property.name]}}</span>
                                <span ng-if="property.dateFormat">{{itemEdit['exporterIdentification'][property.name] | date:property.dateFormat}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-body" ng-if="mode == 'edit'">
                <button type="button" ng-click="openChooseExporterIdentificationDialog()" class="btn btn-sm btn-doob">
                    <i class="glyphicon glyphicon-pencil"></i> {{localization.getMessage('common.choose')}}
                </button>
            </div>
        </tab>
        <tab heading="{{localization.getMessage('procurement.shippingDocument.deliveryMethod')}}">
            <div class="modal-body" ng-if="!(itemEdit['deliveryMethod'])">
                {{localization.getMessage('common.noEntities')}}
            </div>
            <div class="modal-body" ng-if="itemEdit['deliveryMethod']">
                <table st-table="deliveryMethodCollection" st-safe-src="itemEdit['deliveryMethod']" class="items fixed-header fixed-header-detail">
                    <thead>
                        <tr>
                            <th ng-repeat="property in deliveryMethodDefinition.properties"
                             lr-drag-src="headers" lr-drop-target="headers" st-sort="{{property.name}}" st-skip-natural="true">
                                {{localization.getMessage(deliveryMethodDefinition.label + '.' + property.label)}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td ng-repeat="property in deliveryMethodDefinition.properties">
                                <span ng-if="!property.dateFormat">{{itemEdit['deliveryMethod'][property.name]}}</span>
                                <span ng-if="property.dateFormat">{{itemEdit['deliveryMethod'][property.name] | date:property.dateFormat}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-body" ng-if="mode == 'edit'">
                <button type="button" ng-click="openChooseDeliveryMethodDialog()" class="btn btn-sm btn-doob">
                    <i class="glyphicon glyphicon-pencil"></i> {{localization.getMessage('common.choose')}}
                </button>
            </div>
        </tab>
        <tab heading="{{localization.getMessage('procurement.shippingDocument.currency')}}">
            <div class="modal-body" ng-if="!(itemEdit['currency'])">
                {{localization.getMessage('common.noEntities')}}
            </div>
            <div class="modal-body" ng-if="itemEdit['currency']">
                <table st-table="currencyCollection" st-safe-src="itemEdit['currency']" class="items fixed-header fixed-header-detail">
                    <thead>
                        <tr>
                            <th ng-repeat="property in currencyDefinition.properties"
                             lr-drag-src="headers" lr-drop-target="headers" st-sort="{{property.name}}" st-skip-natural="true">
                                {{localization.getMessage(currencyDefinition.label + '.' + property.label)}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td ng-repeat="property in currencyDefinition.properties">
                                <span ng-if="!property.dateFormat">{{itemEdit['currency'][property.name]}}</span>
                                <span ng-if="property.dateFormat">{{itemEdit['currency'][property.name] | date:property.dateFormat}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-body" ng-if="mode == 'edit'">
                <button type="button" ng-click="openChooseCurrencyDialog()" class="btn btn-sm btn-doob">
                    <i class="glyphicon glyphicon-pencil"></i> {{localization.getMessage('common.choose')}}
                </button>
            </div>
        </tab>
        <tab heading="{{localization.getMessage('procurement.shippingDocument.shippingDocumentItems')}}">
            <div class="row" ng-if="itemEdit['shippingDocumentItems'] && itemEdit['shippingDocumentItems'].length > 0">
                <table st-table="shippingDocumentItemsCollection" st-safe-src="itemEdit['shippingDocumentItems']" class="items fixed-header fixed-header-detail">
                    <thead>
                    <tr>
                        <th ng-repeat="property in shippingDocumentItemsDefinition.properties"
                            lr-drag-src="headers" lr-drop-target="headers" st-sort="{{property.name}}" st-skip-natural="true">
                            {{localization.getMessage(shippingDocumentItemsDefinition.label + '.' + property.label)}}
                        </th>
                    </tr>
                    <tr>
                        <th ng-repeat="property in shippingDocumentItemsDefinition.properties">
                            <input st-search="{{property.name}}" class="input-sm form-control" type="search"/>
                        </th>
                    </tr>
                    </thead>
                    <tbody ng-if="mode != 'edit'">
                    <tr ng-repeat="currentRow in shippingDocumentItemsCollection">
                        <td ng-repeat="property in shippingDocumentItemsDefinition.properties">
                            <span ng-if="!property.dateFormat">{{currentRow[property.name]}}</span>
                            <span ng-if="property.dateFormat">{{currentRow[property.name]|date:property.dateFormat}}</span>
                        </td>
                    </tr>
                    </tbody>
                    <tbody ng-if="mode == 'edit'">
                    <tr ng-repeat="currentRow in shippingDocumentItemsCollection" st-select-row="currentRow" ng-click="shippingDocumentItemSelection(currentRow, $index)"
                        ng-if="currentRow.deleted != true">
                        <td ng-repeat="property in shippingDocumentItemsDefinition.properties">
                            <span ng-if="!property.dateFormat">{{currentRow[property.name]}}</span>
                            <span ng-if="property.dateFormat">{{currentRow[property.name]|date:property.dateFormat}}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row" ng-if="!(itemEdit['shippingDocumentItems'] && itemEdit['shippingDocumentItems'].length > 0)">
                {{localization.getMessage('common.noEntities')}}
            </div>
            <div class="modal-body" >
                <div class="row" ng-if="mode == 'edit'">
                    <div class="btn-toolbar animated-panel zoomIn">
                        <div class="btn-group clearfix">
                            <button type="button" ng-click="openShippingDocumentItemEditDialog(true)" class="btn btn-sm btn-doob">
                                <i class="glyphicon glyphicon-pencil"></i> {{localization.getMessage('button.new')}}
                            </button>
                        </div>
                        <div class="btn-group clearfix">
                            <button type="button" ng-disabled="shippingDocumentItemEdit == null" ng-click="removeShippingDocumentItem(shippingDocumentItemEdit)" class="btn btn-sm btn-doob btn-group">
                                <i class="glyphicon glyphicon-remove-circle"></i> {{localization.getMessage('button.remove')}}
                            </button>
                        </div>
                        <div class="btn-group clearfix">
                            <button type="button" ng-disabled="shippingDocumentItemEdit == null" ng-click="openShippingDocumentItemEditDialog(false)" class="btn btn-sm btn-doob">
                                <i class="glyphicon glyphicon-pencil"></i> {{localization.getMessage('button.update')}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </tab>
        <tab heading="{{localization.getMessage('procurement.shippingDocument.invoices')}}">
            <div class="row" ng-if="itemEdit['invoices'] && itemEdit['invoices'].length > 0">
                <table st-table="invoicesCollection" st-safe-src="itemEdit['invoices']" class="items fixed-header fixed-header-detail">
                    <thead>
                    <tr>
                        <th ng-repeat="property in invoicesDefinition.properties"
                            lr-drag-src="headers" lr-drop-target="headers" st-sort="{{property.name}}" st-skip-natural="true">
                            {{localization.getMessage(invoicesDefinition.label + '.' + property.label)}}
                        </th>
                    </tr>
                    <tr>
                        <th ng-repeat="property in invoicesDefinition.properties">
                            <input st-search="{{property.name}}" class="input-sm form-control" type="search"/>
                        </th>
                    </tr>
                    </thead>
                    <tbody ng-if="mode != 'edit'">
                    <tr ng-repeat="currentRow in invoicesCollection">
                        <td ng-repeat="property in invoicesDefinition.properties">
                            <span ng-if="!property.dateFormat">{{currentRow[property.name]}}</span>
                            <span ng-if="property.dateFormat">{{currentRow[property.name]|date:property.dateFormat}}</span>
                        </td>
                    </tr>
                    </tbody>
                    <tbody ng-if="mode == 'edit'">
                    <tr ng-repeat="currentRow in invoicesCollection" st-select-row="currentRow" ng-click="invoiceSelection(currentRow, $index)"
                        ng-if="currentRow.deleted != true">
                        <td ng-repeat="property in invoicesDefinition.properties">
                            <span ng-if="!property.dateFormat">{{currentRow[property.name]}}</span>
                            <span ng-if="property.dateFormat">{{currentRow[property.name]|date:property.dateFormat}}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row" ng-if="!(itemEdit['invoices'] && itemEdit['invoices'].length > 0)">
                {{localization.getMessage('common.noEntities')}}
            </div>
            <div class="modal-body" >
                <div class="row" ng-if="mode == 'edit'">
                    <div class="btn-toolbar animated-panel zoomIn">
                        <div class="btn-group clearfix">
                            <button type="button" ng-click="openInvoiceEditDialog(true)" class="btn btn-sm btn-doob">
                                <i class="glyphicon glyphicon-pencil"></i> {{localization.getMessage('button.new')}}
                            </button>
                        </div>
                        <div class="btn-group clearfix">
                            <button type="button" ng-disabled="invoiceEdit == null" ng-click="removeInvoice(invoiceEdit)" class="btn btn-sm btn-doob btn-group">
                                <i class="glyphicon glyphicon-remove-circle"></i> {{localization.getMessage('button.remove')}}
                            </button>
                        </div>
                        <div class="btn-group clearfix">
                            <button type="button" ng-disabled="invoiceEdit == null" ng-click="openInvoiceEditDialog(false)" class="btn btn-sm btn-doob">
                                <i class="glyphicon glyphicon-pencil"></i> {{localization.getMessage('button.update')}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </tab>
    </tabset>
</div>