<div class="inmodal">
    <div class="color-line"></div>
    <div class="modal-header">
        <h4 class="modal-title">{{localization.getMessage('stockmanagement.tangibleItemAnalytics.edit')}}</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-6">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('stockmanagement.tangibleItemAnalytics.tIAPostingPosition')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.TIAPostingPosition" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('stockmanagement.tangibleItemAnalytics.tIADocumentNumber')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.TIADocumentNumber" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('stockmanagement.tangibleItemAnalytics.tIAPostingDate')}}
                        </label>
                        <div class="col-sm-7">
                            <div class="input-group date m-b-xs" id="dtpTIAPostingDate">
                                <span ng-click="open($event, 'openedTIAPostingDate')" class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                                <input type="text" ng-model="itemEdit.TIAPostingDate" class="form-control input-sm" ui-date="{dateFormat: 'dd/MM/yyyy'}" ui-date-format="dd/MM/yyyy"
                                    datepicker-popup="{{itemEdit.TIAPostingDate.dateFormat}}" is-open="openedTIAPostingDate" show-button-bar="false" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('stockmanagement.tangibleItemAnalytics.tIADocumentDate')}}
                        </label>
                        <div class="col-sm-7">
                            <div class="input-group date m-b-xs" id="dtpTIADocumentDate">
                                <span ng-click="open($event, 'openedTIADocumentDate')" class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                                <input type="text" ng-model="itemEdit.TIADocumentDate" class="form-control input-sm" ui-date="{dateFormat: 'dd/MM/yyyy'}" ui-date-format="dd/MM/yyyy"
                                    datepicker-popup="{{itemEdit.TIADocumentDate.dateFormat}}" is-open="openedTIADocumentDate" show-button-bar="false" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('stockmanagement.tangibleItemAnalytics.tIAMeasurementUnit')}}
<span class="required">*</span>                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.TIAMeasurementUnit" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('stockmanagement.tangibleItemAnalytics.tIAStocksAccount')}}
<span class="required">*</span>                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.TIAStocksAccount" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('stockmanagement.tangibleItemAnalytics.tIAPriceDesignation')}}
<span class="required">*</span>                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.TIAPriceDesignation" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('stockmanagement.tangibleItemAnalytics.tIAInputQuantity')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.TIAInputQuantity" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('stockmanagement.tangibleItemAnalytics.tIAOutputQuantity')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.TIAOutputQuantity" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('stockmanagement.tangibleItemAnalytics.tIAQuantityBalanceAfterPosting')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.TIAQuantityBalanceAfterPosting" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('stockmanagement.tangibleItemAnalytics.tIAInputValue')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.TIAInputValue" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('stockmanagement.tangibleItemAnalytics.tIAOutputValue')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.TIAOutputValue" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('stockmanagement.tangibleItemAnalytics.tIABookValue')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.TIABookValue" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('stockmanagement.tangibleItemAnalytics.tIAUnitPrice')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.TIAUnitPrice" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('stockmanagement.tangibleItemAnalytics.tIAUser')}}
<span class="required">*</span>                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.TIAUser" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('stockmanagement.tangibleItemAnalytics.tIAOrdinalNumber')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.TIAOrdinalNumber" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('stockmanagement.tangibleItemAnalytics.tIAQuantityAtEmployee')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.TIAQuantityAtEmployee" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('stockmanagement.tangibleItemAnalytics.tIAQuantityAtRepair')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.TIAQuantityAtRepair" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('stockmanagement.tangibleItemAnalytics.tIAQuantityForRepair')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.TIAQuantityForRepair" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('stockmanagement.tangibleItemAnalytics.tIAQuantityForRepair_1')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.TIAQuantityForRepair_1" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('stockmanagement.tangibleItemAnalytics.tIASession')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.TIASession" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                </form>
                <p><span class="required">*</span> {{localization.getMessage('common.requiredField')}}</p>
            </div>
        </div>
        <div class ="row">
    		<div class="col-lg-12 corps" >
                <ng-include src ="'stockmanagement/tangibleitemanalytics/tmplTangibleItemAnalyticsDetail.tpl.html'">
                </ng-include>
            </div>
		</div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-doob" ng-click="save()" ng-disabled="!canSave()">{{localization.getMessage('common.save')}}</button>
        <button class="btn btn-doob" ng-click="revert()" ng-disabled="!canRevert()">{{localization.getMessage('common.clear')}}</button>
        <button class="btn btn-doob" ng-click="cancel()">{{localization.getMessage('common.cancel')}}</button>
    </div>
</div>