<div class="inmodal">
    <div class="color-line"></div>
    <div class="modal-header">
        <h4 class="modal-title">{{localization.getMessage('initialization.workOrder.edit')}}</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-6">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('initialization.workOrder.wOCode')}}
<span class="required">*</span>                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.WOCode" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('initialization.workOrder.wOCreationDate')}}
<span class="required">*</span>                        </label>
                        <div class="col-sm-7">
                            <div class="input-group date m-b-xs" id="dtpWOCreationDate">
                                <span ng-click="open($event, 'openedWOCreationDate')" class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                                <input type="text" ng-model="itemEdit.WOCreationDate" class="form-control input-sm" ui-date="{dateFormat: 'dd/MM/yyyy'}" ui-date-format="dd/MM/yyyy"
                                    datepicker-popup="{{itemEdit.WOCreationDate.dateFormat}}" is-open="openedWOCreationDate" show-button-bar="false" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('initialization.workOrder.wOScheduledDate')}}
<span class="required">*</span>                        </label>
                        <div class="col-sm-7">
                            <div class="input-group date m-b-xs" id="dtpWOScheduledDate">
                                <span ng-click="open($event, 'openedWOScheduledDate')" class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                                <input type="text" ng-model="itemEdit.WOScheduledDate" class="form-control input-sm" ui-date="{dateFormat: 'dd/MM/yyyy'}" ui-date-format="dd/MM/yyyy"
                                    datepicker-popup="{{itemEdit.WOScheduledDate.dateFormat}}" is-open="openedWOScheduledDate" show-button-bar="false" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('initialization.workOrder.wOLunchingProductionDate')}}
                        </label>
                        <div class="col-sm-7">
                            <div class="input-group date m-b-xs" id="dtpWOLunchingProductionDate">
                                <span ng-click="open($event, 'openedWOLunchingProductionDate')" class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                                <input type="text" ng-model="itemEdit.WOLunchingProductionDate" class="form-control input-sm" ui-date="{dateFormat: 'dd/MM/yyyy'}" ui-date-format="dd/MM/yyyy"
                                    datepicker-popup="{{itemEdit.WOLunchingProductionDate.dateFormat}}" is-open="openedWOLunchingProductionDate" show-button-bar="false" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('initialization.workOrder.wOFinishingDate')}}
                        </label>
                        <div class="col-sm-7">
                            <div class="input-group date m-b-xs" id="dtpWOFinishingDate">
                                <span ng-click="open($event, 'openedWOFinishingDate')" class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                                <input type="text" ng-model="itemEdit.WOFinishingDate" class="form-control input-sm" ui-date="{dateFormat: 'dd/MM/yyyy'}" ui-date-format="dd/MM/yyyy"
                                    datepicker-popup="{{itemEdit.WOFinishingDate.dateFormat}}" is-open="openedWOFinishingDate" show-button-bar="false" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('initialization.workOrder.wOCalculationDate')}}
                        </label>
                        <div class="col-sm-7">
                            <div class="input-group date m-b-xs" id="dtpWOCalculationDate">
                                <span ng-click="open($event, 'openedWOCalculationDate')" class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                                <input type="text" ng-model="itemEdit.WOCalculationDate" class="form-control input-sm" ui-date="{dateFormat: 'dd/MM/yyyy'}" ui-date-format="dd/MM/yyyy"
                                    datepicker-popup="{{itemEdit.WOCalculationDate.dateFormat}}" is-open="openedWOCalculationDate" show-button-bar="false" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('initialization.workOrder.wOLuanchedQuantity')}}
<span class="required">*</span>                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.WOLuanchedQuantity" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('initialization.workOrder.wOAcceptedQuantity')}}
<span class="required">*</span>                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.WOAcceptedQuantity" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('initialization.workOrder.wORejectedQuantity')}}
<span class="required">*</span>                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.WORejectedQuantity" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('initialization.workOrder.wOZanovljenaQuantity')}}
<span class="required">*</span>                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.WOZanovljenaQuantity" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('initialization.workOrder.wOCalculationStatus')}}
<span class="required">*</span>                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.WOCalculationStatus" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('initialization.workOrder.wOPrintingStatus')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.WOPrintingStatus" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('initialization.workOrder.wOCurrentNumber')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.WOCurrentNumber" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('initialization.workOrder.wOPrintingReceipt')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.WOPrintingReceipt" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('initialization.workOrder.wOTransferredMaterial')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.WOTransferredMaterial" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('initialization.workOrder.wOSellingPrice')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.WOSellingPrice" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('initialization.workOrder.wOLansiranaKnjigovodstvena')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.WOLansiranaKnjigovodstvena" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('initialization.workOrder.wOPrescribedQuantity')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.WOPrescribedQuantity" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('initialization.workOrder.wOClosed')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.WOClosed" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('initialization.workOrder.wOTechnologicalProcessType')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.WOTechnologicalProcessType" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('initialization.workOrder.wOMarketStatus')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.WOMarketStatus" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('initialization.workOrder.wOPriorityStatus')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.WOPriorityStatus" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('initialization.workOrder.wOLucnhedDocumentStatus')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.WOLucnhedDocumentStatus" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('initialization.workOrder.wODirectLaborCost')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.WODirectLaborCost" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('initialization.workOrder.wOEffectiveOperatingTime')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.WOEffectiveOperatingTime" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('initialization.workOrder.wOStandardizedOperatingTime')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.WOStandardizedOperatingTime" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('initialization.workOrder.wODirectMaterialCost')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.WODirectMaterialCost" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('initialization.workOrder.wOServiceCost')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.WOServiceCost" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('initialization.workOrder.wOGeneralCost')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.WOGeneralCost" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('initialization.workOrder.wOGeneralMaterialCost')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.WOGeneralMaterialCost" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('initialization.workOrder.wOInvoicingStatus')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.WOInvoicingStatus" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('initialization.workOrder.wOImplementationValue')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.WOImplementationValue" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('initialization.workOrder.tISDesignation')}}
<span class="required">*</span>                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.TISDesignation" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                </form>
                <p><span class="required">*</span> {{localization.getMessage('common.requiredField')}}</p>
            </div>
        </div>
        <div class ="row">
    		<div class="col-lg-12 corps" >
                <ng-include src ="'initialization/workorder/tmplWorkOrderDetail.tpl.html'">
                </ng-include>
            </div>
		</div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-doob" ng-click="save()" ng-disabled="!canSave()">{{localization.getMessage('common.save')}}</button>
        <button class="btn btn-doob" ng-click="revert()" ng-disabled="!canRevert()">{{localization.getMessage('common.clear')}}</button>
        <button class="btn btn-doob" ng-click="cancel()">{{localization.getMessage('common.cancel')}}</button>
    </div>
</div>