<div class="inmodal">
    <div class="color-line"></div>
    <div class="modal-header">
        <h4 class="modal-title">{{localization.getMessage('corporation.employee.edit')}}</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-6">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('corporation.employee.ePersonellNumber')}}
<span class="required">*</span>                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.EPersonellNumber" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('corporation.employee.eName')}}
<span class="required">*</span>                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.EName" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('corporation.employee.eLastName')}}
<span class="required">*</span>                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.ELastName" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('corporation.employee.eJobTitle')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.EJobTitle" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('corporation.employee.eEmail')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.EEmail" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('corporation.employee.eBirthName')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.EBirthName" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('corporation.employee.eDateOfBirth')}}
<span class="required">*</span>                        </label>
                        <div class="col-sm-7">
                            <div class="input-group date m-b-xs" id="dtpEDateOfBirth">
                                <span ng-click="open($event, 'openedEDateOfBirth')" class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                                <input type="text" ng-model="itemEdit.EDateOfBirth" class="form-control input-sm" ui-date="{dateFormat: 'dd/MM/yyyy'}" ui-date-format="dd/MM/yyyy"
                                    datepicker-popup="{{itemEdit.EDateOfBirth.dateFormat}}" is-open="openedEDateOfBirth" show-button-bar="false" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('corporation.employee.eNationality')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.ENationality" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('corporation.employee.eUsername')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.EUsername" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('corporation.employee.eStreet')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.EStreet" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('corporation.employee.eTelephone')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.ETelephone" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('corporation.employee.eAccountNumber')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.EAccountNumber" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('corporation.employee.eEmploymentType')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.EEmploymentType" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('corporation.employee.eEmploymentWay')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.EEmploymentWay" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('corporation.employee.eWorkExpirienceYY')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.EWorkExpirienceYY" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('corporation.employee.eWorkExpirienceMM')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.EWorkExpirienceMM" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('corporation.employee.eWorkExpirienceDD')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.EWorkExpirienceDD" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('corporation.employee.eWorkExpirienceFRAYY')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.EWorkExpirienceFRAYY" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('corporation.employee.eWorkExpirienceFRAMM')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.EWorkExpirienceFRAMM" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('corporation.employee.eWorkExpirienceFRADD')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.EWorkExpirienceFRADD" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('corporation.employee.eEmploymentEntryDate')}}
                        </label>
                        <div class="col-sm-7">
                            <div class="input-group date m-b-xs" id="dtpEEmploymentEntryDate">
                                <span ng-click="open($event, 'openedEEmploymentEntryDate')" class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                                <input type="text" ng-model="itemEdit.EEmploymentEntryDate" class="form-control input-sm" ui-date="{dateFormat: 'dd/MM/yyyy'}" ui-date-format="dd/MM/yyyy"
                                    datepicker-popup="{{itemEdit.EEmploymentEntryDate.dateFormat}}" is-open="openedEEmploymentEntryDate" show-button-bar="false" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('corporation.employee.eEmploymentDateOfLeaving')}}
                        </label>
                        <div class="col-sm-7">
                            <div class="input-group date m-b-xs" id="dtpEEmploymentDateOfLeaving">
                                <span ng-click="open($event, 'openedEEmploymentDateOfLeaving')" class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                                <input type="text" ng-model="itemEdit.EEmploymentDateOfLeaving" class="form-control input-sm" ui-date="{dateFormat: 'dd/MM/yyyy'}" ui-date-format="dd/MM/yyyy"
                                    datepicker-popup="{{itemEdit.EEmploymentDateOfLeaving.dateFormat}}" is-open="openedEEmploymentDateOfLeaving" show-button-bar="false" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('corporation.employee.eEmploymentEndReason')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.EEmploymentEndReason" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('corporation.employee.eEmploymentLimitation')}}
                        </label>
                        <div class="col-sm-7">
                            <div class="input-group date m-b-xs" id="dtpEEmploymentLimitation">
                                <span ng-click="open($event, 'openedEEmploymentLimitation')" class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                                <input type="text" ng-model="itemEdit.EEmploymentLimitation" class="form-control input-sm" ui-date="{dateFormat: 'dd/MM/yyyy'}" ui-date-format="dd/MM/yyyy"
                                    datepicker-popup="{{itemEdit.EEmploymentLimitation.dateFormat}}" is-open="openedEEmploymentLimitation" show-button-bar="false" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('corporation.employee.eMaritialStatus')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.EMaritialStatus" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('corporation.employee.eBloodType')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.EBloodType" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('corporation.employee.eShiftWork')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.EShiftWork" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('corporation.employee.eWorkingTime')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.EWorkingTime" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('corporation.employee.eWorkingAbility')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.EWorkingAbility" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('corporation.employee.eWorkingAbilityChangeDate')}}
                        </label>
                        <div class="col-sm-7">
                            <div class="input-group date m-b-xs" id="dtpEWorkingAbilityChangeDate">
                                <span ng-click="open($event, 'openedEWorkingAbilityChangeDate')" class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                                <input type="text" ng-model="itemEdit.EWorkingAbilityChangeDate" class="form-control input-sm" ui-date="{dateFormat: 'dd/MM/yyyy'}" ui-date-format="dd/MM/yyyy"
                                    datepicker-popup="{{itemEdit.EWorkingAbilityChangeDate.dateFormat}}" is-open="openedEWorkingAbilityChangeDate" show-button-bar="false" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('corporation.employee.eWeaklyWorkingHours')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.EWeaklyWorkingHours" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('corporation.employee.eHolidayEntitlement')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.EHolidayEntitlement" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('corporation.employee.eAnnualWageGross')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.EAnnualWageGross" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('corporation.employee.eNumberOfWages')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.ENumberOfWages" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('corporation.employee.eMonthlyWageGross')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.EMonthlyWageGross" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('corporation.employee.eTaxIdentificationNumber')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.ETaxIdentificationNumber" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('corporation.employee.eTaxOfficeNumber')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.ETaxOfficeNumber" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('corporation.employee.eTaxClass')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.ETaxClass" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('corporation.employee.eChildAllowance')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.EChildAllowance" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('corporation.employee.eConffesion')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.EConffesion" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('corporation.employee.eHealthInsurance')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.EHealthInsurance" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('corporation.employee.eSocialInsuranceNumber')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.ESocialInsuranceNumber" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('corporation.employee.eInsuranceGroupKeyHealthInsurance')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.EInsuranceGroupKeyHealthInsurance" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('corporation.employee.eInsuranceGroupKeyPensionInsurance')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.EInsuranceGroupKeyPensionInsurance" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('corporation.employee.eInsuranceGroupKeyUnemploymentInsurance')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.EInsuranceGroupKeyUnemploymentInsurance" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('corporation.employee.eInsuranceGroupKeyNursingCareInsurance')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.EInsuranceGroupKeyNursingCareInsurance" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                </form>
                <p><span class="required">*</span> {{localization.getMessage('common.requiredField')}}</p>
            </div>
        </div>
        <div class ="row">
    		<div class="col-lg-12 corps" >
                <ng-include src ="'corporation/employee/tmplEmployeeDetail.tpl.html'">
                </ng-include>
            </div>
		</div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-doob" ng-click="save()" ng-disabled="!canSave()">{{localization.getMessage('common.save')}}</button>
        <button class="btn btn-doob" ng-click="revert()" ng-disabled="!canRevert()">{{localization.getMessage('common.clear')}}</button>
        <button class="btn btn-doob" ng-click="cancel()">{{localization.getMessage('common.cancel')}}</button>
    </div>
</div>