<div class="inmodal">
    <div class="color-line"></div>
    <div class="modal-header">
        <h4 class="modal-title">{{localization.getMessage('stockmanagement.goodsReceivedNoteItem.edit')}}</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-6">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('stockmanagement.goodsReceivedNoteItem.gRNIOrdinalNumber')}}
<span class="required">*</span>                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.GRNIOrdinalNumber" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('stockmanagement.goodsReceivedNoteItem.gRNIStockAccount')}}
<span class="required">*</span>                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.GRNIStockAccount" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('stockmanagement.goodsReceivedNoteItem.gRNIPriceDesignation')}}
<span class="required">*</span>                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.GRNIPriceDesignation" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('stockmanagement.goodsReceivedNoteItem.gRNIMeasurementUnit')}}
<span class="required">*</span>                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.GRNIMeasurementUnit" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('stockmanagement.goodsReceivedNoteItem.gRNIQuantityByShippingDocument')}}
<span class="required">*</span>                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.GRNIQuantityByShippingDocument" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('stockmanagement.goodsReceivedNoteItem.gRNIQunaityReceived')}}
<span class="required">*</span>                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.GRNIQunaityReceived" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('stockmanagement.goodsReceivedNoteItem.gRNIQuantityIssued')}}
<span class="required">*</span>                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.GRNIQuantityIssued" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('stockmanagement.goodsReceivedNoteItem.gRNIValue')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.GRNIValue" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('stockmanagement.goodsReceivedNoteItem.gRNIAddress')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.GRNIAddress" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('stockmanagement.goodsReceivedNoteItem.gRNIUnitPrice')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.GRNIUnitPrice" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('stockmanagement.goodsReceivedNoteItem.gRNIBookkeepingPosition')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.GRNIBookkeepingPosition" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('stockmanagement.goodsReceivedNoteItem.gRNIQuantityAfterBookkeeping')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.GRNIQuantityAfterBookkeeping" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('stockmanagement.goodsReceivedNoteItem.gRNIStorno')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.GRNIStorno" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('stockmanagement.goodsReceivedNoteItem.gRNIBatchDesignation')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.GRNIBatchDesignation" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('stockmanagement.goodsReceivedNoteItem.gRNIObsoescenceDate')}}
                        </label>
                        <div class="col-sm-7">
                            <div class="input-group date m-b-xs" id="dtpGRNIObsoescenceDate">
                                <span ng-click="open($event, 'openedGRNIObsoescenceDate')" class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                                <input type="text" ng-model="itemEdit.GRNIObsoescenceDate" class="form-control input-sm" ui-date="{dateFormat: 'dd/MM/yyyy'}" ui-date-format="dd/MM/yyyy"
                                    datepicker-popup="{{itemEdit.GRNIObsoescenceDate.dateFormat}}" is-open="openedGRNIObsoescenceDate" show-button-bar="false" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('stockmanagement.goodsReceivedNoteItem.gRNIQuantityRejected')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.GRNIQuantityRejected" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('stockmanagement.goodsReceivedNoteItem.gRNIRejectedItemControlRemark')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.GRNIRejectedItemControlRemark" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('stockmanagement.goodsReceivedNoteItem.gRNIRemark')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="itemEdit.GRNIRemark" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('stockmanagement.goodsReceivedNoteItem.gRNIQuantityReceivedQuantified')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.GRNIQuantityReceivedQuantified" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('stockmanagement.goodsReceivedNoteItem.gRNIQuantityRejectedQuantified')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.GRNIQuantityRejectedQuantified" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{localization.getMessage('stockmanagement.goodsReceivedNoteItem.gRNISellingPrice')}}
                        </label>
                        <div class="col-sm-7">
                            <input type="number" ng-model="itemEdit.GRNISellingPrice" class="form-control input-sm m-b-xs" />
                        </div>
                    </div>
                </form>
                <p><span class="required">*</span> {{localization.getMessage('common.requiredField')}}</p>
            </div>
        </div>
        <div class ="row">
    		<div class="col-lg-12 corps" >
                <ng-include src ="'stockmanagement/goodsreceivednoteitem/tmplGoodsReceivedNoteItemDetail.tpl.html'">
                </ng-include>
            </div>
		</div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-doob" ng-click="save()" ng-disabled="!canSave()">{{localization.getMessage('common.save')}}</button>
        <button class="btn btn-doob" ng-click="revert()" ng-disabled="!canRevert()">{{localization.getMessage('common.clear')}}</button>
        <button class="btn btn-doob" ng-click="cancel()">{{localization.getMessage('common.cancel')}}</button>
    </div>
</div>