<div class="col-lg-4 animated-panel zoomIn" ng-if="mode != 'edit'">
    <form class="form-horizontal">
        <fieldset ng-disabled="true">
            <div class="col-lg-12" ng-disabled="true">
                <div ng-repeat="property in itemDefinition.properties" class="form-group">
                    <label class="col-sm-5 control-label">{{localization.getMessage(itemDefinition.label + '.' + property.label)}}</label>
                    <div class="col-sm-7 padding-7">
                        <input type="text" class="form-control input-xs m-b-xs" value="{{itemEdit[property.name]}}" />
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<div class="corps animated-panel zoomIn" ng-class="{'col-lg-8':(mode != 'edit')}">
    <tabset>
        <tab heading="{{localization.getMessage('stockmanagement.goodsReceivedNoteItem.goodsReceivedNoteHeading')}}">
            <div class="modal-body" ng-if="!(itemEdit['goodsReceivedNoteHeading'])">
                {{localization.getMessage('common.noEntities')}}
            </div>
            <div class="modal-body" ng-if="itemEdit['goodsReceivedNoteHeading']">
                <table st-table="goodsReceivedNoteHeadingCollection" st-safe-src="itemEdit['goodsReceivedNoteHeading']" class="items fixed-header fixed-header-detail">
                    <thead>
                        <tr>
                            <th ng-repeat="property in goodsReceivedNoteHeadingDefinition.properties"
                             lr-drag-src="headers" lr-drop-target="headers" st-sort="{{property.name}}" st-skip-natural="true">
                                {{localization.getMessage(goodsReceivedNoteHeadingDefinition.label + '.' + property.label)}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td ng-repeat="property in goodsReceivedNoteHeadingDefinition.properties">
                                <span ng-if="!property.dateFormat">{{itemEdit['goodsReceivedNoteHeading'][property.name]}}</span>
                                <span ng-if="property.dateFormat">{{itemEdit['goodsReceivedNoteHeading'][property.name] | date:property.dateFormat}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-body" ng-if="mode == 'edit'">
                <button type="button" ng-click="openChooseGoodsReceivedNoteHeadingDialog()" class="btn btn-sm btn-doob">
                    <i class="glyphicon glyphicon-pencil"></i> {{localization.getMessage('common.choose')}}
                </button>
            </div>
        </tab>
        <tab heading="{{localization.getMessage('stockmanagement.goodsReceivedNoteItem.tangibleItemCondition')}}">
            <div class="modal-body" ng-if="!(itemEdit['tangibleItemCondition'])">
                {{localization.getMessage('common.noEntities')}}
            </div>
            <div class="modal-body" ng-if="itemEdit['tangibleItemCondition']">
                <table st-table="tangibleItemConditionCollection" st-safe-src="itemEdit['tangibleItemCondition']" class="items fixed-header fixed-header-detail">
                    <thead>
                        <tr>
                            <th ng-repeat="property in tangibleItemConditionDefinition.properties"
                             lr-drag-src="headers" lr-drop-target="headers" st-sort="{{property.name}}" st-skip-natural="true">
                                {{localization.getMessage(tangibleItemConditionDefinition.label + '.' + property.label)}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td ng-repeat="property in tangibleItemConditionDefinition.properties">
                                <span ng-if="!property.dateFormat">{{itemEdit['tangibleItemCondition'][property.name]}}</span>
                                <span ng-if="property.dateFormat">{{itemEdit['tangibleItemCondition'][property.name] | date:property.dateFormat}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-body" ng-if="mode == 'edit'">
                <button type="button" ng-click="openChooseTangibleItemConditionDialog()" class="btn btn-sm btn-doob">
                    <i class="glyphicon glyphicon-pencil"></i> {{localization.getMessage('common.choose')}}
                </button>
            </div>
        </tab>
        <tab heading="{{localization.getMessage('stockmanagement.goodsReceivedNoteItem.orderSupplierItem')}}">
            <div class="modal-body" ng-if="!(itemEdit['orderSupplierItem'])">
                {{localization.getMessage('common.noEntities')}}
            </div>
            <div class="modal-body" ng-if="itemEdit['orderSupplierItem']">
                <table st-table="orderSupplierItemCollection" st-safe-src="itemEdit['orderSupplierItem']" class="items fixed-header fixed-header-detail">
                    <thead>
                        <tr>
                            <th ng-repeat="property in orderSupplierItemDefinition.properties"
                             lr-drag-src="headers" lr-drop-target="headers" st-sort="{{property.name}}" st-skip-natural="true">
                                {{localization.getMessage(orderSupplierItemDefinition.label + '.' + property.label)}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td ng-repeat="property in orderSupplierItemDefinition.properties">
                                <span ng-if="!property.dateFormat">{{itemEdit['orderSupplierItem'][property.name]}}</span>
                                <span ng-if="property.dateFormat">{{itemEdit['orderSupplierItem'][property.name] | date:property.dateFormat}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-body" ng-if="mode == 'edit'">
                <button type="button" ng-click="openChooseOrderSupplierItemDialog()" class="btn btn-sm btn-doob">
                    <i class="glyphicon glyphicon-pencil"></i> {{localization.getMessage('common.choose')}}
                </button>
            </div>
        </tab>
        <tab heading="{{localization.getMessage('stockmanagement.goodsReceivedNoteItem.goodsAcceptanceStatus')}}">
            <div class="modal-body" ng-if="!(itemEdit['goodsAcceptanceStatus'])">
                {{localization.getMessage('common.noEntities')}}
            </div>
            <div class="modal-body" ng-if="itemEdit['goodsAcceptanceStatus']">
                <table st-table="goodsAcceptanceStatusCollection" st-safe-src="itemEdit['goodsAcceptanceStatus']" class="items fixed-header fixed-header-detail">
                    <thead>
                        <tr>
                            <th ng-repeat="property in goodsAcceptanceStatusDefinition.properties"
                             lr-drag-src="headers" lr-drop-target="headers" st-sort="{{property.name}}" st-skip-natural="true">
                                {{localization.getMessage(goodsAcceptanceStatusDefinition.label + '.' + property.label)}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td ng-repeat="property in goodsAcceptanceStatusDefinition.properties">
                                <span ng-if="!property.dateFormat">{{itemEdit['goodsAcceptanceStatus'][property.name]}}</span>
                                <span ng-if="property.dateFormat">{{itemEdit['goodsAcceptanceStatus'][property.name] | date:property.dateFormat}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-body" ng-if="mode == 'edit'">
                <button type="button" ng-click="openChooseGoodsAcceptanceStatusDialog()" class="btn btn-sm btn-doob">
                    <i class="glyphicon glyphicon-pencil"></i> {{localization.getMessage('common.choose')}}
                </button>
            </div>
        </tab>
        <tab heading="{{localization.getMessage('stockmanagement.goodsReceivedNoteItem.identification')}}">
            <div class="modal-body" ng-if="!(itemEdit['identification'])">
                {{localization.getMessage('common.noEntities')}}
            </div>
            <div class="modal-body" ng-if="itemEdit['identification']">
                <table st-table="identificationCollection" st-safe-src="itemEdit['identification']" class="items fixed-header fixed-header-detail">
                    <thead>
                        <tr>
                            <th ng-repeat="property in identificationDefinition.properties"
                             lr-drag-src="headers" lr-drop-target="headers" st-sort="{{property.name}}" st-skip-natural="true">
                                {{localization.getMessage(identificationDefinition.label + '.' + property.label)}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td ng-repeat="property in identificationDefinition.properties">
                                <span ng-if="!property.dateFormat">{{itemEdit['identification'][property.name]}}</span>
                                <span ng-if="property.dateFormat">{{itemEdit['identification'][property.name] | date:property.dateFormat}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-body" ng-if="mode == 'edit'">
                <button type="button" ng-click="openChooseIdentificationDialog()" class="btn btn-sm btn-doob">
                    <i class="glyphicon glyphicon-pencil"></i> {{localization.getMessage('common.choose')}}
                </button>
            </div>
        </tab>
        <tab heading="{{localization.getMessage('stockmanagement.goodsReceivedNoteItem.tangibleItemStatus')}}">
            <div class="modal-body" ng-if="!(itemEdit['tangibleItemStatus'])">
                {{localization.getMessage('common.noEntities')}}
            </div>
            <div class="modal-body" ng-if="itemEdit['tangibleItemStatus']">
                <table st-table="tangibleItemStatusCollection" st-safe-src="itemEdit['tangibleItemStatus']" class="items fixed-header fixed-header-detail">
                    <thead>
                        <tr>
                            <th ng-repeat="property in tangibleItemStatusDefinition.properties"
                             lr-drag-src="headers" lr-drop-target="headers" st-sort="{{property.name}}" st-skip-natural="true">
                                {{localization.getMessage(tangibleItemStatusDefinition.label + '.' + property.label)}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td ng-repeat="property in tangibleItemStatusDefinition.properties">
                                <span ng-if="!property.dateFormat">{{itemEdit['tangibleItemStatus'][property.name]}}</span>
                                <span ng-if="property.dateFormat">{{itemEdit['tangibleItemStatus'][property.name] | date:property.dateFormat}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-body" ng-if="mode == 'edit'">
                <button type="button" ng-click="openChooseTangibleItemStatusDialog()" class="btn btn-sm btn-doob">
                    <i class="glyphicon glyphicon-pencil"></i> {{localization.getMessage('common.choose')}}
                </button>
            </div>
        </tab>
        <tab heading="{{localization.getMessage('stockmanagement.goodsReceivedNoteItem.procurementRequestSettlements')}}">
            <div class="row" ng-if="itemEdit['procurementRequestSettlements'] && itemEdit['procurementRequestSettlements'].length > 0">
                <table st-table="procurementRequestSettlementsCollection" st-safe-src="itemEdit['procurementRequestSettlements']" class="items fixed-header fixed-header-detail">
                    <thead>
                    <tr>
                        <th ng-repeat="property in procurementRequestSettlementsDefinition.properties"
                            lr-drag-src="headers" lr-drop-target="headers" st-sort="{{property.name}}" st-skip-natural="true">
                            {{localization.getMessage(procurementRequestSettlementsDefinition.label + '.' + property.label)}}
                        </th>
                    </tr>
                    <tr>
                        <th ng-repeat="property in procurementRequestSettlementsDefinition.properties">
                            <input st-search="{{property.name}}" class="input-sm form-control" type="search"/>
                        </th>
                    </tr>
                    </thead>
                    <tbody ng-if="mode != 'edit'">
                    <tr ng-repeat="currentRow in procurementRequestSettlementsCollection">
                        <td ng-repeat="property in procurementRequestSettlementsDefinition.properties">
                            <span ng-if="!property.dateFormat">{{currentRow[property.name]}}</span>
                            <span ng-if="property.dateFormat">{{currentRow[property.name]|date:property.dateFormat}}</span>
                        </td>
                    </tr>
                    </tbody>
                    <tbody ng-if="mode == 'edit'">
                    <tr ng-repeat="currentRow in procurementRequestSettlementsCollection" st-select-row="currentRow" ng-click="procurementRequestSettlementSelection(currentRow, $index)"
                        ng-if="currentRow.deleted != true">
                        <td ng-repeat="property in procurementRequestSettlementsDefinition.properties">
                            <span ng-if="!property.dateFormat">{{currentRow[property.name]}}</span>
                            <span ng-if="property.dateFormat">{{currentRow[property.name]|date:property.dateFormat}}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row" ng-if="!(itemEdit['procurementRequestSettlements'] && itemEdit['procurementRequestSettlements'].length > 0)">
                {{localization.getMessage('common.noEntities')}}
            </div>
            <div class="modal-body" >
                <div class="row" ng-if="mode == 'edit'">
                    <div class="btn-toolbar animated-panel zoomIn">
                        <div class="btn-group clearfix">
                            <button type="button" ng-click="openProcurementRequestSettlementEditDialog(true)" class="btn btn-sm btn-doob">
                                <i class="glyphicon glyphicon-pencil"></i> {{localization.getMessage('button.new')}}
                            </button>
                        </div>
                        <div class="btn-group clearfix">
                            <button type="button" ng-disabled="procurementRequestSettlementEdit == null" ng-click="removeProcurementRequestSettlement(procurementRequestSettlementEdit)" class="btn btn-sm btn-doob btn-group">
                                <i class="glyphicon glyphicon-remove-circle"></i> {{localization.getMessage('button.remove')}}
                            </button>
                        </div>
                        <div class="btn-group clearfix">
                            <button type="button" ng-disabled="procurementRequestSettlementEdit == null" ng-click="openProcurementRequestSettlementEditDialog(false)" class="btn btn-sm btn-doob">
                                <i class="glyphicon glyphicon-pencil"></i> {{localization.getMessage('button.update')}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </tab>
    </tabset>
</div>