<div class="col-lg-4 animated-panel zoomIn" ng-if="mode != 'edit'">
    <form class="form-horizontal">
        <fieldset ng-disabled="true">
            <div class="col-lg-12" ng-disabled="true">
                <div ng-repeat="property in itemDefinition.properties" class="form-group">
                    <label class="col-sm-5 control-label">{{localization.getMessage(itemDefinition.label + '.' + property.label)}}</label>
                    <div class="col-sm-7 padding-7">
                        <input type="text" class="form-control input-xs m-b-xs" value="{{itemEdit[property.name]}}" />
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<div class="corps animated-panel zoomIn" ng-class="{'col-lg-8':(mode != 'edit')}">
    <tabset>
        <tab heading="{{localization.getMessage('productiondata.productionProcess.classification')}}">
            <div class="modal-body" ng-if="!(itemEdit['classification'])">
                {{localization.getMessage('common.noEntities')}}
            </div>
            <div class="modal-body" ng-if="itemEdit['classification']">
                <table st-table="classificationCollection" st-safe-src="itemEdit['classification']" class="items fixed-header fixed-header-detail">
                    <thead>
                        <tr>
                            <th ng-repeat="property in classificationDefinition.properties"
                             lr-drag-src="headers" lr-drop-target="headers" st-sort="{{property.name}}" st-skip-natural="true">
                                {{localization.getMessage(classificationDefinition.label + '.' + property.label)}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td ng-repeat="property in classificationDefinition.properties">
                                <span ng-if="!property.dateFormat">{{itemEdit['classification'][property.name]}}</span>
                                <span ng-if="property.dateFormat">{{itemEdit['classification'][property.name] | date:property.dateFormat}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-body" ng-if="mode == 'edit'">
                <button type="button" ng-click="openChooseClassificationDialog()" class="btn btn-sm btn-doob">
                    <i class="glyphicon glyphicon-pencil"></i> {{localization.getMessage('common.choose')}}
                </button>
            </div>
        </tab>
        <tab heading="{{localization.getMessage('productiondata.productionProcess.productionProcessType')}}">
            <div class="modal-body" ng-if="!(itemEdit['productionProcessType'])">
                {{localization.getMessage('common.noEntities')}}
            </div>
            <div class="modal-body" ng-if="itemEdit['productionProcessType']">
                <table st-table="productionProcessTypeCollection" st-safe-src="itemEdit['productionProcessType']" class="items fixed-header fixed-header-detail">
                    <thead>
                        <tr>
                            <th ng-repeat="property in productionProcessTypeDefinition.properties"
                             lr-drag-src="headers" lr-drop-target="headers" st-sort="{{property.name}}" st-skip-natural="true">
                                {{localization.getMessage(productionProcessTypeDefinition.label + '.' + property.label)}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td ng-repeat="property in productionProcessTypeDefinition.properties">
                                <span ng-if="!property.dateFormat">{{itemEdit['productionProcessType'][property.name]}}</span>
                                <span ng-if="property.dateFormat">{{itemEdit['productionProcessType'][property.name] | date:property.dateFormat}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-body" ng-if="mode == 'edit'">
                <button type="button" ng-click="openChooseProductionProcessTypeDialog()" class="btn btn-sm btn-doob">
                    <i class="glyphicon glyphicon-pencil"></i> {{localization.getMessage('common.choose')}}
                </button>
            </div>
        </tab>
        <tab heading="{{localization.getMessage('productiondata.productionProcess.organizationUnit')}}">
            <div class="modal-body" ng-if="!(itemEdit['organizationUnit'])">
                {{localization.getMessage('common.noEntities')}}
            </div>
            <div class="modal-body" ng-if="itemEdit['organizationUnit']">
                <table st-table="organizationUnitCollection" st-safe-src="itemEdit['organizationUnit']" class="items fixed-header fixed-header-detail">
                    <thead>
                        <tr>
                            <th ng-repeat="property in organizationUnitDefinition.properties"
                             lr-drag-src="headers" lr-drop-target="headers" st-sort="{{property.name}}" st-skip-natural="true">
                                {{localization.getMessage(organizationUnitDefinition.label + '.' + property.label)}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td ng-repeat="property in organizationUnitDefinition.properties">
                                <span ng-if="!property.dateFormat">{{itemEdit['organizationUnit'][property.name]}}</span>
                                <span ng-if="property.dateFormat">{{itemEdit['organizationUnit'][property.name] | date:property.dateFormat}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-body" ng-if="mode == 'edit'">
                <button type="button" ng-click="openChooseOrganizationUnitDialog()" class="btn btn-sm btn-doob">
                    <i class="glyphicon glyphicon-pencil"></i> {{localization.getMessage('common.choose')}}
                </button>
            </div>
        </tab>
        <tab heading="{{localization.getMessage('productiondata.productionProcess.consumableSupplies')}}">
            <div class="row" ng-if="itemEdit['consumableSupplies'] && itemEdit['consumableSupplies'].length > 0">
                <table st-table="consumableSuppliesCollection" st-safe-src="itemEdit['consumableSupplies']" class="items fixed-header fixed-header-detail">
                    <thead>
                    <tr>
                        <th ng-repeat="property in consumableSuppliesDefinition.properties"
                            lr-drag-src="headers" lr-drop-target="headers" st-sort="{{property.name}}" st-skip-natural="true">
                            {{localization.getMessage(consumableSuppliesDefinition.label + '.' + property.label)}}
                        </th>
                    </tr>
                    <tr>
                        <th ng-repeat="property in consumableSuppliesDefinition.properties">
                            <input st-search="{{property.name}}" class="input-sm form-control" type="search"/>
                        </th>
                    </tr>
                    </thead>
                    <tbody ng-if="mode != 'edit'">
                    <tr ng-repeat="currentRow in consumableSuppliesCollection">
                        <td ng-repeat="property in consumableSuppliesDefinition.properties">
                            <span ng-if="!property.dateFormat">{{currentRow[property.name]}}</span>
                            <span ng-if="property.dateFormat">{{currentRow[property.name]|date:property.dateFormat}}</span>
                        </td>
                    </tr>
                    </tbody>
                    <tbody ng-if="mode == 'edit'">
                    <tr ng-repeat="currentRow in consumableSuppliesCollection" st-select-row="currentRow" ng-click="consumableSuppliesSelection(currentRow, $index)"
                        ng-if="currentRow.deleted != true">
                        <td ng-repeat="property in consumableSuppliesDefinition.properties">
                            <span ng-if="!property.dateFormat">{{currentRow[property.name]}}</span>
                            <span ng-if="property.dateFormat">{{currentRow[property.name]|date:property.dateFormat}}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row" ng-if="!(itemEdit['consumableSupplies'] && itemEdit['consumableSupplies'].length > 0)">
                {{localization.getMessage('common.noEntities')}}
            </div>
            <div class="modal-body" >
                <div class="row" ng-if="mode == 'edit'">
                    <div class="btn-toolbar animated-panel zoomIn">
                        <div class="btn-group clearfix">
                            <button type="button" ng-click="openConsumableSuppliesEditDialog(true)" class="btn btn-sm btn-doob">
                                <i class="glyphicon glyphicon-pencil"></i> {{localization.getMessage('button.new')}}
                            </button>
                        </div>
                        <div class="btn-group clearfix">
                            <button type="button" ng-disabled="consumableSuppliesEdit == null" ng-click="removeConsumableSupplies(consumableSuppliesEdit)" class="btn btn-sm btn-doob btn-group">
                                <i class="glyphicon glyphicon-remove-circle"></i> {{localization.getMessage('button.remove')}}
                            </button>
                        </div>
                        <div class="btn-group clearfix">
                            <button type="button" ng-disabled="consumableSuppliesEdit == null" ng-click="openConsumableSuppliesEditDialog(false)" class="btn btn-sm btn-doob">
                                <i class="glyphicon glyphicon-pencil"></i> {{localization.getMessage('button.update')}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </tab>
        <tab heading="{{localization.getMessage('productiondata.productionProcess.productionProcessSteps')}}">
            <div class="row" ng-if="itemEdit['productionProcessSteps'] && itemEdit['productionProcessSteps'].length > 0">
                <table st-table="productionProcessStepsCollection" st-safe-src="itemEdit['productionProcessSteps']" class="items fixed-header fixed-header-detail">
                    <thead>
                    <tr>
                        <th ng-repeat="property in productionProcessStepsDefinition.properties"
                            lr-drag-src="headers" lr-drop-target="headers" st-sort="{{property.name}}" st-skip-natural="true">
                            {{localization.getMessage(productionProcessStepsDefinition.label + '.' + property.label)}}
                        </th>
                    </tr>
                    <tr>
                        <th ng-repeat="property in productionProcessStepsDefinition.properties">
                            <input st-search="{{property.name}}" class="input-sm form-control" type="search"/>
                        </th>
                    </tr>
                    </thead>
                    <tbody ng-if="mode != 'edit'">
                    <tr ng-repeat="currentRow in productionProcessStepsCollection">
                        <td ng-repeat="property in productionProcessStepsDefinition.properties">
                            <span ng-if="!property.dateFormat">{{currentRow[property.name]}}</span>
                            <span ng-if="property.dateFormat">{{currentRow[property.name]|date:property.dateFormat}}</span>
                        </td>
                    </tr>
                    </tbody>
                    <tbody ng-if="mode == 'edit'">
                    <tr ng-repeat="currentRow in productionProcessStepsCollection" st-select-row="currentRow" ng-click="productionProcessStepsSelection(currentRow, $index)"
                        ng-if="currentRow.deleted != true">
                        <td ng-repeat="property in productionProcessStepsDefinition.properties">
                            <span ng-if="!property.dateFormat">{{currentRow[property.name]}}</span>
                            <span ng-if="property.dateFormat">{{currentRow[property.name]|date:property.dateFormat}}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row" ng-if="!(itemEdit['productionProcessSteps'] && itemEdit['productionProcessSteps'].length > 0)">
                {{localization.getMessage('common.noEntities')}}
            </div>
            <div class="modal-body" >
                <div class="row" ng-if="mode == 'edit'">
                    <div class="btn-toolbar animated-panel zoomIn">
                        <div class="btn-group clearfix">
                            <button type="button" ng-click="openProductionProcessStepsEditDialog(true)" class="btn btn-sm btn-doob">
                                <i class="glyphicon glyphicon-pencil"></i> {{localization.getMessage('button.new')}}
                            </button>
                        </div>
                        <div class="btn-group clearfix">
                            <button type="button" ng-disabled="productionProcessStepsEdit == null" ng-click="removeProductionProcessSteps(productionProcessStepsEdit)" class="btn btn-sm btn-doob btn-group">
                                <i class="glyphicon glyphicon-remove-circle"></i> {{localization.getMessage('button.remove')}}
                            </button>
                        </div>
                        <div class="btn-group clearfix">
                            <button type="button" ng-disabled="productionProcessStepsEdit == null" ng-click="openProductionProcessStepsEditDialog(false)" class="btn btn-sm btn-doob">
                                <i class="glyphicon glyphicon-pencil"></i> {{localization.getMessage('button.update')}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </tab>
    </tabset>
</div>